ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.page {
  flex: 1 1 auto;
}

.afterNavBar, .bottom_navBar .alignSpan {
  display: flex;
  justify-content: space-between;
}

.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan, .lastFooter .lastFooterMainBlock .lastFooterOneBlock, .lastFooter .lastFooterMainBlock .lastFooterTwoBlock,
.lastFooter .lastFooterMainBlock .lastFooterThreeBlock, .lastFooter .lastFooterMainBlock .lastFooterFourBlock,
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock, .lastFooter .lastFooterMainBlock .lastFooterSixBlock, .bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock, .bannerBeforeLastFooter .beforeLastFooterSpanAndImage, .twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage, .twoBannerAfterTwoFooter, .bannerAfterTwoFooter .bannerAfterTwoFooterBlock, .twoFooter .twoFooterBlockAndImage .twoFooterBlock, .twoBannersNextDiv .oneBannerSpanAndButton, .twoBannersNextDiv .twoBannerSpanAndButton, .manyBanners .cooperation, .manyBanners .qualityService, .manyBanners .spanAndImageReliable, .manyBanners .spanAndImageFullComplex,
.manyBanners .spanAndImageOrderKey, .afterNavBar .afterNavBarBannerAndSpan .productMenu .productMenuBlock, .afterNavBar .afterNavBarBannerAndSpan, .afterNavBar .choiceChapter, .afterNavBar .mainMenu {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #FFAF37;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  border: none;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #001569;
}

input {
  cursor: text;
  font-size: 18px;
  padding-left: 20px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  border: 1px solid #001569;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
}

.close {
  margin: 10px 10px auto auto;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
}

.close:hover {
  color: #001569;
  text-decoration: none;
  cursor: pointer;
}

.toolTipOne, .toolTipTwo, .toolTipThree,
.toolTipFour, .toolTypeBavBarOne,
.toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive,
.toolTypeBavBarSix {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  text-align: left;
  color: rgb(74, 77, 74);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  z-index: 500;
  animation: fadeIn 0.4s ease-in-out;
  font-size: 12px;
  line-height: 17px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toolTipOne::after, .toolTipTwo::after,
.toolTipThree::after, .toolTipFour::after,
.toolTypeBavBarOne::after, .toolTypeBavBarTwo::after,
.toolTypeBavBarThree::after, .toolTypeBavBarFour::after,
.toolTypeBavBarFive::after, .toolTypeBavBarSix::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: white transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.boldText {
  font-weight: 700;
}

.toolTipOne, .toolTipTwo, .toolTipThree, .toolTipFour {
  top: 43px;
  left: 0;
}

.toolTipOne {
  height: 120px;
  width: 240px;
  padding-left: 5px;
}

.toolTipTwo {
  height: 120px;
  width: 346px;
  padding-left: 15px;
}

.toolTipThree {
  height: 120px;
  width: 369px;
  padding-left: 12px;
}

.toolTipFour {
  height: 120px;
  width: 106px;
  text-align: center;
  padding-left: 7px;
}

.toolTypeBavBarOne, .toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive, .toolTypeBavBarSix {
  top: 43px;
  left: 0px;
  text-align: left;
  padding: 2px;
}

.toolTypeBavBarOne {
  height: 120px;
  width: 177px;
}

.toolTypeBavBarTwo {
  height: 120px;
  width: 185px;
}

.toolTypeBavBarThree {
  height: 120px;
  width: 78px;
}

.toolTypeBavBarFour {
  height: 120px;
  width: 167px;
}

.toolTypeBavBarFive {
  height: 120px;
  width: 116px;
}

.toolTypeBavBarSix {
  height: 120px;
  width: 95px;
}

html, body {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: rgb(74, 77, 74);
  overflow: visible;
  height: 100%;
}

.circle, .circleTwoBanners, .circleAfterManyPicturesBanner,
.circleAfterTwoFooter, .circleBannerBeforeLastFooter {
  height: 24px;
  width: 24px;
  position: absolute;
  background-color: #1F347B;
  border-radius: 50%;
}

.circle {
  top: 430px;
  left: 939px;
  padding-bottom: 10px;
}

.circleTwoBanners {
  top: 138px;
  left: -42px;
}

.circleAfterManyPicturesBanner {
  top: 247px;
  left: 1424px;
}

.circleAfterTwoFooter {
  left: 143px;
  bottom: 171px;
  background-color: rgba(31, 52, 123, 0.2);
}

.circleBannerBeforeLastFooter {
  top: -9px;
  left: 147px;
  background-color: rgba(31, 52, 123, 0.2);
}

.arrowLeftManyPictures {
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrowLeftManyPictures::before {
  background-color: rgb(74, 77, 74);
  height: 2px;
  width: 40px;
  top: 58px;
  left: 117px;
}
.arrowLeftManyPictures::before, .arrowLeftManyPictures::after {
  content: "";
  position: absolute;
}
.arrowLeftManyPictures::after {
  height: 10px;
  width: 10px;
  top: 54px;
  left: 147px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.checkBoxAndSpan {
  height: 30px;
  width: 205px;
  display: flex;
  justify-content: space-between;
}
.checkBoxAndSpan .checkMarkBlock {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(74, 77, 74);
}
.checkBoxAndSpan .checkMarkBlock .checkMark {
  height: 15px;
  width: 15px;
}
.checkBoxAndSpan .spanAfterCheckMark {
  cursor: text;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.checkBoxAndSpan .spanAfterCheckMark:hover {
  text-decoration: underline;
}

.bottom_navBar {
  height: 60px;
  width: 100%;
  width: 100%;
  height: 60px;
  background-color: #F0F0FF;
  margin-top: 28px;
  padding: 15px;
}
.bottom_navBar .alignSpan {
  width: 1394px;
  margin: auto;
}
.bottom_navBar .alignSpan .bottom_navBar_one, .bottom_navBar .alignSpan .bottom_navBar_two,
.bottom_navBar .alignSpan .bottom_navBar_three, .bottom_navBar .alignSpan .bottom_navBar_four {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: color 0.5s;
}
.bottom_navBar .alignSpan .bottom_navBar_one:hover, .bottom_navBar .alignSpan .bottom_navBar_two:hover,
.bottom_navBar .alignSpan .bottom_navBar_three:hover, .bottom_navBar .alignSpan .bottom_navBar_four:hover {
  color: #FFAF37;
}
.bottom_navBar .alignSpan .bottom_navBar_one::after, .bottom_navBar .alignSpan .bottom_navBar_two::after,
.bottom_navBar .alignSpan .bottom_navBar_three::after, .bottom_navBar .alignSpan .bottom_navBar_four::after {
  background-image: linear-gradient(to right, black 60%, transparent 0);
  content: "";
  position: absolute;
  margin-top: 30px;
  height: 2px;
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
}
.bottom_navBar .alignSpan .bottom_navBar_one:hover:after, .bottom_navBar .alignSpan .bottom_navBar_two:hover:after,
.bottom_navBar .alignSpan .bottom_navBar_three:hover:after, .bottom_navBar .alignSpan .bottom_navBar_four:hover:after {
  background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}
.bottom_navBar .alignSpan .bottom_navBar_one {
  height: 29px;
  width: 245px;
  position: relative;
  left: -7px;
}
.bottom_navBar .alignSpan .bottom_navBar_one::after {
  left: 0;
  width: 240px;
}
.bottom_navBar .alignSpan .bottom_navBar_two {
  height: 25px;
  width: 350px;
  line-height: 21px;
}
.bottom_navBar .alignSpan .bottom_navBar_two::after {
  width: 346px;
}
.bottom_navBar .alignSpan .bottom_navBar_three {
  height: 21px;
  width: 385px;
  padding-left: 12px;
}
.bottom_navBar .alignSpan .bottom_navBar_three::after {
  width: 368px;
}
.bottom_navBar .alignSpan .bottom_navBar_four {
  height: 21px;
  width: 99px;
  padding-left: 21px;
}
.bottom_navBar .alignSpan .bottom_navBar_four::after {
  left: 0;
  margin-left: 23px;
  width: 85px;
}

.afterNavBar {
  max-width: 1470px;
  width: 100%;
  margin: 50px auto auto auto;
  padding: 0 30px;
}
.afterNavBar .mainMenu {
  max-width: 448px;
  width: 100%;
  min-width: 316px;
}
.afterNavBar .headerMainMenu {
  width: 100%;
  max-height: 60px;
  height: 100%;
  display: inline-block;
  border-radius: 10px 10px 0 0;
  background: #F0F0FF;
}
.afterNavBar .headerSpan {
  display: flex;
  padding-top: 17px;
  padding-left: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
}
.afterNavBar .choiceChapter {
  max-width: 447px;
  width: 100%;
  max-height: 676px;
  height: 100%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
.afterNavBar .left {
  height: 9px;
  width: 9px;
  margin-right: 15px;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}
.afterNavBar .commonSpanMainMenu:hover .left {
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
}
.afterNavBar .choiceChapter > div > :nth-child(1) {
  height: 16px;
  width: 20px;
  margin-left: 20px;
}
.afterNavBar .choiceChapter > div > :nth-child(2) {
  margin-left: 12px;
}
.afterNavBar #smallImageSize, .afterNavBar #smallTwoImageSize,
.afterNavBar #smallFourImageSize, .afterNavBar #smallFiveImageSize,
.afterNavBar #smallSixImageSize {
  height: 20px;
}
.afterNavBar #newSticker {
  height: 10px;
  margin-top: 6px;
}
.afterNavBar #smallOneImageSize {
  height: 24px;
  width: 15px;
  margin-top: -1px;
  margin-left: 24px;
}
.afterNavBar .commonSpanMainMenu {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
}
.afterNavBar .commonSpanMainMenu:hover {
  background-color: #FFAF37;
  color: #FFFFFF;
}
.afterNavBar .choiceChapterOneBlockBack {
  background-color: #001569;
  flex-grow: 1;
}
.afterNavBar .twoChoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 386px;
  width: 100%;
  overflow: hidden;
}
.afterNavBar .rightSmall {
  margin-right: 12px;
}
.afterNavBar .afterNavBarBannerAndSpan {
  margin-left: 42px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu {
  max-width: 922px;
  width: 100%;
  max-height: 736px;
  height: 100%;
  display: none;
  position: relative;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  animation: fadeIn 0.9s ease-in-out;
}
@media (max-width: 1426px) {
  .afterNavBar .afterNavBarBannerAndSpan .productMenu {
    max-height: 1567px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .productMenuBlock {
  height: 320px;
  width: 210px;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border: 0.4px solid #4A4D4A;
  border-radius: 4px;
  transition: background-color 0.5s;
  font-size: 14px;
  text-align: center;
  margin-bottom: 96px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .oneProduct:hover, .afterNavBar .afterNavBarBannerAndSpan .productMenu .twoProduct:hover,
.afterNavBar .afterNavBarBannerAndSpan .productMenu .threeProduct:hover, .afterNavBar .afterNavBarBannerAndSpan .productMenu .fourProduct:hover {
  background-color: #cec9c9;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .oneProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .oneProduct .pmPhoneMain {
  height: 116px;
  width: 45px;
  margin-top: 45px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .oneProduct .oneProductSpan {
  margin-top: 22px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .twoProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .twoProduct .pmTabletMain {
  height: 118px;
  width: 81px;
  margin-top: 45px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .twoProduct .twoProductSpan {
  margin-top: 20px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .threeProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .threeProduct .pmPodsMain {
  height: 117px;
  width: 93px;
  margin-top: 48px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .threeProduct .threeProductSpan {
  margin-top: 18px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .fourProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .fourProduct .pmCaseMain {
  height: 117px;
  width: 93px;
  margin-top: 48px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .fourProduct .fourProductSpan {
  margin-top: 18px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .fiveProduct, .afterNavBar .afterNavBarBannerAndSpan .productMenu .sixProduct, .afterNavBar .afterNavBarBannerAndSpan .productMenu .sevenProduct, .afterNavBar .afterNavBarBannerAndSpan .productMenu .eightProduct {
  display: flex;
  justify-content: space-between;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .pmPhone {
  height: 94px;
  width: 59px;
  margin-top: 8px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .pmPods {
  margin-top: 16px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .pmClock {
  margin-top: 9px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .pmTablet {
  margin-top: 9px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .productBlockSpanOne {
  margin-top: 12px;
  font-weight: 600;
  color: black;
  line-height: 17px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .fiveProductSpanOneTwo {
  margin-top: 4px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .productBlockSpanTwo {
  font-weight: 300;
  line-height: 21px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .sevenProductSpanOneTwo {
  margin-top: 11px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .productBlockSpanThree {
  font-weight: 400;
  line-height: 21px;
  color: black;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .productBlockSpanFour {
  color: #001569;
  font-size: 24px;
  line-height: 29px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .inBasket {
  height: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-bottom: 14px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct {
  height: 20px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 350px;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  color: #4A4D4A;
  font-size: 14px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .blockBetweenTwoRowProductOneSpan {
  cursor: pointer;
  transition: color 0.5s;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .blockBetweenTwoRowProductSpan {
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  transition: color 0.5s;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .blockBetweenTwoRowProductSpan:hover, .afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .blockBetweenTwoRowProductOneSpan:hover {
  color: #FFAF37;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .leftBlockBetweenOne, .afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .leftBlockBetweenTwo, .afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .leftBlockBetweenThree {
  height: 8px;
  width: 8px;
  position: absolute;
  margin-right: 15px;
  cursor: pointer;
  border-top: 1px solid #4A4D4A;
  border-left: 1px solid #4A4D4A;
  transform: rotate(-135deg);
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .leftBlockBetweenOne {
  top: 3px;
  left: 127px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .leftBlockBetweenTwo {
  top: 3px;
  left: 258px;
}
.afterNavBar .afterNavBarBannerAndSpan .productMenu .blockBetweenTwoRowProduct .leftBlockBetweenThree {
  top: 3px;
  left: 357px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBanner {
  width: 100%;
  max-width: 922px;
  max-height: 132px;
  display: flex;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: 0;
  text-align: left;
  color: rgb(74, 77, 74);
  font-family: Montserrat, sans-serif;
  animation: fadeIn 0.5s ease-in-out;
}
@media (max-width: 1473px) {
  .afterNavBar .afterNavBarBannerAndSpan .mainBanner {
    font-size: 30px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBar .afterNavBarBannerAndSpan .mainBanner .bigText {
  font-weight: 700;
  line-height: 44px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBanner .orangeText {
  font-family: Rubik, sans-serif;
  color: #FFAF37;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-image: url("../images_adaptive_layout/hat/mainBannerImage.png");
  background-size: cover;
  margin-top: 14px;
  animation: fadeIn 0.5s ease-in-out;
  transition: background-image 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .leftMain {
  height: 175px;
  width: 240px;
  position: absolute;
  left: 715px;
  top: 447px;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
  transform: rotate(-180deg);
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerTextOnImage {
  height: 116px;
  width: 422px;
  margin-left: 400px;
  margin-top: 150px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 550;
  line-height: 37px;
  transition: color 0.5s;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage #showOffer {
  height: 69px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 440px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .buttonBanner {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.5s;
  padding: 20px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .buttonBanner:hover {
  background-color: #FFAF37;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .buttonBannerLeft {
  display: none;
  margin-left: 5px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .buttonBannerRight {
  display: none;
  margin-left: 812px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .leftBannerButton, .afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .rightBannerButton {
  height: 16px;
  width: 16px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .leftBannerButton {
  border-top: 5px solid #001569;
  border-left: 5px solid #001569;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .leftButtonBannerOne {
  position: relative;
  bottom: 2px;
  right: 2px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .rightButtonBannerOne {
  left: 2px;
  top: 16px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .leftButtonBannerOne {
  transform: rotate(-45deg);
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .leftButtonBannerTwo, .afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .bannerButtonCommon .rightButtonBannerTwo {
  position: relative;
  right: 3px;
  bottom: 2px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .leftButtonBannerTwo {
  transform: rotate(-225deg);
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .paginationBanner {
  height: 20px;
  width: 152px;
  display: flex;
  margin: 170px auto auto 370px;
  padding-bottom: 35px;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .paginationBanner .circlePagination {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 100%;
  margin-left: 4px;
  border: 1px solid white;
  transition: background-color 0.5s;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .paginationBanner .circlePagination:hover {
  background-color: #FFAF37;
}
.afterNavBar .afterNavBarBannerAndSpan .mainBannerImage .paginationBanner .circlePaginationOne {
  background-color: #FFAF37;
}

.sideButtons {
  height: 271px;
  width: 90px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  position: fixed;
  right: 0;
  margin-top: -690px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}
@media (max-width: 1536px) {
  .sideButtons {
    display: none;
  }
}
.sideButtons .oneSideButton, .sideButtons .twoSideButton, .sideButtons .threeSideButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}
.sideButtons .oneSideButton {
  height: 90px;
  width: 90px;
  background-color: #1F347B;
  border-top-left-radius: 10px;
  transition: background-color 0.5s;
}
.sideButtons .oneSideButton:hover, .sideButtons .twoSideButton:hover, .sideButtons .threeSideButton:hover {
  background-color: #001569;
}
.sideButtons .twoSideButton {
  height: 90px;
  width: 90px;
  background-color: white;
  transition: background-color 0.5s;
}
.sideButtons .threeSideButton {
  height: 91px;
  width: 90px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #1F347B;
}
.sideButtons .oneSideButtonImage {
  height: 30px;
  width: 30px;
  top: 7px;
  left: 15px;
}

.manyBanners {
  height: 530px;
  width: 1410px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 330px 330px 330px 330px;
  grid-template-rows: 250px 250px;
  flex-wrap: wrap;
  margin: 100px auto auto auto;
}
.manyBanners .workCBC, .manyBanners .reliableSupplier,
.manyBanners .fullComplex, .manyBanners .orderKey,
.manyBanners .directDeliveries, .manyBanners .qualityService,
.manyBanners .cooperation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  transition: background-color 0.5s;
  cursor: pointer;
  background-color: white;
}
.manyBanners .reliableSupplierSpanOne, .manyBanners .fullComplexSpanOne {
  font-size: 24px;
  margin-top: 10px;
}
.manyBanners .reliableSupplierSpanTwo, .manyBanners .fullComplexSpanTwo,
.manyBanners .orderKeySpanTwo, .manyBanners .cooperationSpanTwo, .manyBanners .qualityServiceSpanTwo {
  font-weight: 400;
}
.manyBanners .spanAndImageReliable, .manyBanners .spanAndImageFullComplex,
.manyBanners .spanAndImageOrderKey {
  align-items: center;
  text-align: center;
}
.manyBanners .workCBC:hover, .manyBanners .reliableSupplier:hover,
.manyBanners .fullComplex:hover, .manyBanners .orderKey:hover,
.manyBanners .directDeliveries:hover, .manyBanners .qualityService:hover,
.manyBanners .cooperation:hover {
  background-color: #cec9c9;
}
.manyBanners .workCBC {
  height: 250px;
  width: 330px;
  background-color: #F0F0FF;
}
.manyBanners .workCBC .workCBCSpan {
  height: 111px;
  width: 256px;
  font-size: 30px;
  line-height: 38px;
}
.manyBanners .reliableSupplier {
  height: 250px;
  width: 323px;
}
.manyBanners .reliableSupplier .spanAndImageReliable {
  height: 172px;
  width: 269px;
  margin: 37px 30px;
}
.manyBanners .reliableSupplier .spanAndImageReliable .oneImageReliable {
  height: 60px;
  width: 60px;
}
.manyBanners .reliableSupplier .spanAndImageReliable .reliableSupplierSpanOne {
  height: 29px;
  width: 269px;
  line-height: 29px;
}
.manyBanners .reliableSupplier .spanAndImageReliable .reliableSupplierSpanTwo {
  height: 63px;
  width: 194px;
  margin-top: 10px;
}
.manyBanners .fullComplex {
  height: 250px;
  width: 330px;
}
.manyBanners .fullComplex .spanAndImageFullComplex {
  height: 181px;
  width: 292px;
  margin: 43px 27px;
}
.manyBanners .fullComplex .spanAndImageFullComplex .twoImageReliableOne {
  height: 62px;
  width: 72px;
  margin-top: 2px;
}
.manyBanners .fullComplex .spanAndImageFullComplex .fullComplexSpanOne {
  height: 31px;
  width: 215px;
  padding-top: 2px;
}
.manyBanners .fullComplex .spanAndImageFullComplex .fullComplexSpanTwo {
  height: 71px;
  width: 292px;
  padding-top: 8px;
}
.manyBanners .orderKey {
  height: 250px;
  width: 330px;
}
.manyBanners .orderKey .spanAndImageOrderKey {
  height: 181px;
  width: 178px;
  margin: 29px 36px;
}
.manyBanners .orderKey .spanAndImageOrderKey .threeImageOrderKey {
  height: 70px;
  width: 50px;
}
.manyBanners .orderKey .spanAndImageOrderKey .orderKeySpanOne {
  height: 29px;
  width: 187px;
  font-size: 24px;
  margin-top: 6px;
}
.manyBanners .orderKey .spanAndImageOrderKey .orderKeySpanTwo {
  height: 63px;
  width: 281px;
  margin-top: 8px;
}
.manyBanners .directDeliveries {
  height: 250px;
  width: 690px;
  grid-area: 2/1/2/2;
  flex-direction: column;
}
.manyBanners .directDeliveries .fourImageDirectDeliveries {
  height: 73px;
  width: 70px;
  margin-top: -1px;
}
.manyBanners .directDeliveries .directDeliveriesSpanOne {
  height: 29px;
  width: 213px;
  font-size: 24px;
  padding-top: 12px;
}
.manyBanners .directDeliveries .manyPictures {
  height: 67px;
  width: 630px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}
.manyBanners .directDeliveries .manyPictures .oneBottom {
  height: 56px;
  width: 45px;
}
.manyBanners .directDeliveries .manyPictures .twoBottom {
  height: 44px;
  width: 50px;
}
.manyBanners .directDeliveries .manyPictures .threeBottom {
  height: 15px;
  width: 75px;
}
.manyBanners .directDeliveries .manyPictures .fourBottom {
  height: 60px;
  width: 60px;
}
.manyBanners .directDeliveries .manyPictures .fiveBottom {
  height: 12px;
  width: 80px;
}
.manyBanners .directDeliveries .manyPictures .sixBottom {
  height: 46px;
  width: 70px;
}
.manyBanners .directDeliveries .manyPictures .sevenBottom {
  height: 23px;
  width: 70px;
}
.manyBanners .qualityService {
  height: 250px;
  width: 330px;
  align-items: center;
  grid-area: 2/3/2/3;
}
.manyBanners .qualityService .fiveImageOrderKey {
  height: 63px;
  width: 60px;
  background: url("../images_adaptive_layout/manyBanners/fiveImage.png");
}
.manyBanners .qualityService .qualityServiceSpanOne {
  height: 29px;
  width: 267px;
  font-size: 24px;
  margin-top: 15px;
}
.manyBanners .qualityService .qualityServiceSpanTwo {
  height: 84px;
  width: 292px;
  margin-top: 6px;
}
.manyBanners .cooperation {
  height: 250px;
  width: 330px;
  align-items: center;
  grid-area: 2/4/2/4;
}
.manyBanners .sixImageCooperation {
  height: 54px;
  width: 60px;
  margin-top: -8px;
}
.manyBanners .cooperationSpanOne {
  height: 29px;
  width: 202px;
  padding-top: 11px;
  font-size: 24px;
}
.manyBanners .cooperationSpanTwo {
  height: 84px;
  width: 292px;
  padding-top: 20px;
  line-height: 21px;
}

.twoBannersNextDiv {
  height: 402px;
  width: 1410px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 130px auto auto auto;
}
.twoBannersNextDiv .leftTwoBanners {
  height: 175px;
  width: 240px;
  top: -33px;
  left: -34px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
  transform: rotate(0deg);
}
.twoBannersNextDiv .oneBanner, .twoBannersNextDiv .twoBanner {
  height: 402px;
  width: 688px;
  display: flex;
}
.twoBannersNextDiv .oneSpanOneBannerTwoBanners, .twoBannersNextDiv .oneSpanTwoBannerTwoBanners {
  font-size: 24px;
  text-align: right;
  line-height: 29px;
}
.twoBannersNextDiv .oneBannerSpanAndButton, .twoBannersNextDiv .twoBannerSpanAndButton {
  align-items: self-end;
  margin-top: 82px;
  height: 239px;
}
.twoBannersNextDiv .twoSpanOneBannerTwoBanners, .twoBannersNextDiv .twoSpanTwoBannerTwoBanners {
  text-align: right;
  font-weight: 400;
  line-height: 21px;
}
.twoBannersNextDiv .oneAndTwoBannerSmallImage {
  height: 59px;
  width: 60px;
  position: absolute;
  margin-left: 15px;
  margin-top: 27px;
}
.twoBannersNextDiv .oneBanner {
  background-color: #F0F0FF;
}
.twoBannersNextDiv .oneBanner .oneBannerImage {
  height: 240px;
  width: 323px;
  position: absolute;
  margin-top: 162px;
}
.twoBannersNextDiv .oneBanner .oneBannerSpanAndButton {
  width: 537px;
  margin-left: 106px;
}
.twoBannersNextDiv .oneBanner .oneBannerSpanAndButton .twoSpanOneBannerTwoBanners {
  margin-top: 32px;
}
.twoBannersNextDiv .oneBanner .oneBannerSpanAndButton #chooseTechnique {
  height: 70px;
  width: 300px;
  margin-top: 16px;
  text-transform: uppercase;
}
.twoBannersNextDiv .twoBanner {
  background-color: #E3E1FF;
}
.twoBannersNextDiv .twoBanner .twoBannerImage {
  height: 262px;
  width: 344px;
  position: absolute;
  margin-top: 115px;
}
.twoBannersNextDiv .twoBanner .twoBannerSpanAndButton {
  width: 268px;
  margin-left: 389px;
}
.twoBannersNextDiv .twoBanner .twoBannerSpanAndButton .twoSpanTwoBannerTwoBanners {
  margin-top: 6px;
}
.twoBannersNextDiv .twoBanner .twoBannerSpanAndButton #assembleOffice {
  height: 69px;
  width: 268px;
  margin-top: 17px;
  text-transform: uppercase;
}

.oneFooter {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F0F0FF;
  margin-top: 100px;
}
.oneFooter .oneFooterCenterBanner {
  height: 258px;
  width: 1389px;
  display: grid;
  position: relative;
  list-style: none;
  grid-row-gap: 18px;
  grid-template-rows: 74px 166px;
  grid-template-columns: 694px 695px;
  margin: auto;
  padding: 0;
}
.oneFooter .oneFooterCenterBanner .onBlockOneFooter {
  height: 74px;
  width: 687px;
  line-height: 37px;
  font-size: 30px;
  align-self: flex-start;
  grid-column-start: 1;
  grid-row-start: 1;
}
.oneFooter .oneFooterCenterBanner #twoBlockOneFooter {
  height: 60px;
  width: 400px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-self: right;
  grid-column-start: 2;
  grid-row-start: 1;
  border: 2px solid #FFAF37;
  padding-left: 20px;
  transition: background-color 0.5s, color 0.5s;
  background-color: #F0F0FF;
  color: rgb(74, 77, 74);
}
.oneFooter .oneFooterCenterBanner #twoBlockOneFooter:hover {
  background-color: #001569;
  color: white;
}
.oneFooter .oneFooterCenterBanner .arrowTwoBlockOneFooterSpan {
  top: -30px;
  left: 1215px;
  position: absolute;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter {
  height: 166px;
  width: 1327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  margin-left: 62px;
  font-size: 20px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesOneBlockOneFooter, .oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesTwoBlockOneFooter,
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesThreeBlockOneFooter, .oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesFourBlockOneFooter,
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesFiveBlockOneFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesOneBlockOneFooter {
  height: 161px;
  width: 291px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesOneBlockOneFooter .oneImageOneFooter {
  height: 100px;
  width: 120px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesTwoBlockOneFooter {
  height: 104px;
  width: 200px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesTwoBlockOneFooter .twoImageOneFooter {
  height: 66px;
  width: 200px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesThreeBlockOneFooter {
  height: 161px;
  width: 342px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesFourBlockOneFooter {
  height: 85px;
  width: 200px;
}
.oneFooter .oneFooterCenterBanner .threeBlockOneFooter .imagesFiveBlockOneFooter {
  height: 162px;
  width: 1509x;
}

.bannerManyPictures {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 804px;
  max-width: 1410px;
  margin: 100px auto 100px auto;
  grid-column-gap: 2.12%;
  grid-row-gap: 3.73%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1280px) {
  .bannerManyPictures {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    max-height: 1262px;
    margin: 100px auto 300px auto;
  }
}
.bannerManyPictures .oneBannerManyPictures, .bannerManyPictures .bannersManyPicturesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  max-height: 248px;
  max-width: 330px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  transition: color 0.5s;
  cursor: pointer;
}
.bannerManyPictures .oneBannerManyPictures:hover, .bannerManyPictures .bannersManyPicturesContainer:hover {
  color: #001569;
}
.bannerManyPictures .commonImageBannerManyPictures {
  width: 55%;
}
.bannerManyPictures .oneBannerManyPictures {
  grid-area: 1/1/1/1;
  background-color: #F0F0FF;
}
.bannerManyPictures .oneBannerManyPictures .oneBannerManyPicturesSpan {
  text-align: center;
  font-size: 30px;
  line-height: 37px;
}
.bannerManyPictures .twoBannerManyPicturesTwoSpan, .bannerManyPictures .eightBannerManyPicturesTwoSpan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 92%;
}
.bannerManyPictures .arrowBannerManyPictures {
  position: absolute;
  top: 62%;
  left: 48%;
}
.bannerManyPictures .eightImageBannerManyPictures {
  width: 67%;
  position: absolute;
  top: 5px;
}
.bannerManyPictures .elevenImageBannerManyPictures {
  height: 126px;
  width: 195px;
  top: 5px;
}
.bannerManyPictures .eightBannerManyPicturesTwoSpan {
  margin-top: 165px;
}
.bannerManyPictures .spanElevenBannerManyPictures {
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}
.bannerManyPictures #showAllOffer {
  height: 70px;
  width: 283px;
  font-size: 14px;
}

.twoBannersAfterManyPicturesBanner {
  height: 402px;
  width: 1408px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 100px auto auto auto;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner, .twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner {
  height: 402px;
  width: 690px;
  display: flex;
  position: relative;
}
.twoBannersAfterManyPicturesBanner .smallOneAfterManyPicturesBanner, .twoBannersAfterManyPicturesBanner .smallTwoAfterManyPicturesBanner {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 30px;
  left: 15px;
}
.twoBannersAfterManyPicturesBanner .oneSpanAfterManyPictures, .twoBannersAfterManyPicturesBanner .fourSpanAfterManyPictures {
  text-align: right;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBlock, .twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner {
  background-color: #F0F0FF;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .bigOneAfterManyPicturesBanner {
  height: 228px;
  width: 273px;
  position: absolute;
  top: 180px;
  z-index: 100;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .oneAfterManyPicturesBlock {
  height: 227px;
  width: 520px;
  margin: 100px 35px auto auto;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .oneSpanAfterManyPictures {
  height: 84px;
  width: 520px;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .twoSpanAfterManyPictures {
  height: 42px;
  width: 464px;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner #oneButtonAfterManyPicturesBanner {
  height: 65px;
  width: 348px;
  text-transform: uppercase;
}
.twoBannersAfterManyPicturesBanner .twoSpanAfterManyPictures, .twoBannersAfterManyPicturesBanner .fiveSpanAfterManyPictures {
  text-align: right;
  margin-bottom: 20px;
  font-weight: 400;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner {
  background-color: #E3E1FF;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .fiveSpanAfterManyPictures {
  height: 63px;
  width: 263px;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner #twoButtonAfterManyPicturesBanner {
  height: 69px;
  width: 268px;
  text-transform: uppercase;
  z-index: 100;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .bigTwoAfterManyPicturesBanner {
  height: 254px;
  width: 330px;
  position: absolute;
  top: 137px;
  left: 5px;
  z-index: 100;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .twoAfterManyPicturesBlock {
  height: 220px;
  width: 311px;
  margin: 100px 35px auto auto;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .fourSpanAfterManyPictures {
  height: 52px;
  width: 311px;
}
.twoBannersAfterManyPicturesBanner .leftAfterManyPicturesBanner {
  height: 175px;
  width: 240px;
  top: 260px;
  left: 1200px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
  transform: rotate(-180deg);
}
.twoBannersAfterManyPicturesBanner .circleAfterManyPicturesBanner {
  top: 247px;
  left: 1424px;
}

.twoFooter {
  height: 300px;
  width: 100%;
  margin: 100px auto auto auto;
  background-color: #F0F0FF;
}
.twoFooter .twoFooterBlockAndImage {
  height: 260px;
  width: 1225px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: auto;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock {
  height: 199px;
  width: 487px;
  margin: 55px 240px auto auto;
  left: 100px;
  align-items: flex-start;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterOneSpan {
  height: 60px;
  width: 487px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterTwoSpan {
  height: 42px;
  width: 343px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterButton {
  height: 61px;
  width: 450px;
  display: flex;
  align-items: center;
  border: 2px solid #FFAF37;
  background-color: #F0F0FF;
  color: rgb(74, 77, 74);
  transition: background-color 0.5s, color 0.5s;
  padding-left: 20px;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterButton:hover {
  background-color: #001569;
  color: white;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .arrowTwoFooter {
  top: 166px;
  left: 310px;
  position: absolute;
}
.twoFooter .twoFooterBlockAndImage .twoFooterImage {
  height: 251px;
  width: 464px;
  margin-top: 25px;
}

.bannerAfterTwoFooter {
  height: 334px;
  width: 1410px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px auto auto auto;
  border-bottom: 8px solid rgba(31, 52, 123, 0.2);
  border-left: 8px solid rgba(31, 52, 123, 0.2);
  box-sizing: border-box;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock {
  height: 270px;
  width: 1330px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterSpan {
  height: 74px;
  width: 680px;
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 146px;
  width: 1326px;
  margin: auto auto 20px auto;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterOne {
  height: 146px;
  width: 150px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterTwo {
  height: 80px;
  width: 200px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterThree {
  height: 138px;
  width: 200px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterFour {
  height: 133px;
  width: 200px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterFive {
  height: 112px;
  width: 200px;
}
.bannerAfterTwoFooter .leftAndRightMainAfterTwoFooter {
  display: flex;
  position: absolute;
  margin: 45px 0 0 710px;
}
.bannerAfterTwoFooter .leftAndRightMainAfterTwoFooter .leftMainAfterTwoFooter {
  height: 110px;
  width: 240px;
  position: absolute;
  left: 171px;
  bottom: -75px;
  border-top: 8px solid rgba(31, 52, 123, 0.2);
  border-left: 8px solid rgba(31, 52, 123, 0.2);
  transform: rotate(-270deg);
}
.bannerAfterTwoFooter .leftAndRightMainAfterTwoFooter .leftMainAfterTwoFooterAfter {
  height: 1200px;
  width: 240px;
  top: -666px;
  left: -576px;
  position: absolute;
  border-left: 8px solid rgba(31, 52, 123, 0.2);
  transform: rotate(90deg);
}

.twoBannerAfterTwoFooter {
  height: 660px;
  width: 1405px;
  margin: 100px auto auto auto;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterSpanBlock {
  height: 84px;
  width: 1146px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 33px auto;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterSpanBlock .twoBannerAfterTwoFooterOneSpan {
  font-size: 36px;
  line-height: 30px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterSpanBlock .twoBannerAfterTwoFooterTwoSpan {
  padding-top: 10px;
  font-size: 24px;
  line-height: 42px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain {
  height: 546px;
  width: 1405px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .mainPicture {
  height: 471px;
  width: 774px;
  margin: 75px 0 0 90px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage {
  height: 461px;
  width: 331px;
  margin: 42px 115px 0 0;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage .twoBannerAfterTwoFooterField {
  height: 80px;
  width: 330px;
  width: 330px;
  height: 80px;
  margin-bottom: 30px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage #getConsultation {
  height: 80px;
  width: 330px;
  text-transform: uppercase;
  width: 330px;
  height: 80px;
  margin-bottom: 20px;
}

.bannerBeforeLastFooter {
  height: 608px;
  width: 1408px;
  display: flex;
  position: relative;
  margin: 100px auto auto auto;
  border-right: 8px solid rgba(31, 52, 123, 0.2);
  border-bottom: 8px solid rgba(31, 52, 123, 0.2);
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage {
  height: 514px;
  width: 1188px;
  margin: auto;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterSpanImage {
  height: 74px;
  width: 579px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin: 0 auto auto auto;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock {
  height: 428px;
  width: 1188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock {
  height: 274px;
  width: 459px;
  font-size: 20px;
  margin-top: 86px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  flex-grow: 1;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newGeo {
  height: 40px;
  width: 30px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newPhone, .bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .clock {
  width: 30px;
  height: 30px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .clock {
  margin-bottom: 8px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newSMS {
  width: 30px;
  height: 22px;
  margin-bottom: 8px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newWhatsApp {
  width: 26px;
  height: 26px;
  margin-bottom: 8px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .bannerBeforeLastFooterSpan {
  margin: 0 0 10px 10px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .maps {
  height: 423px;
  width: 553px;
  background: url("../images_adaptive_layout/bannerBeforeLastFooter/maps.png");
  background-size: center/cover;
}
.bannerBeforeLastFooter .lineBorderLeftBannerBeforeLastFooter,
.bannerBeforeLastFooter .lineBorderTopBannerBeforeLastFooter {
  position: absolute;
  border-top: 8px solid rgba(31, 52, 123, 0.2);
}
.bannerBeforeLastFooter .lineBorderLeftBannerBeforeLastFooter {
  height: 430px;
  width: 120px;
  top: 170px;
  border-left: 8px solid rgba(31, 52, 123, 0.2);
}
.bannerBeforeLastFooter .lineBorderTopBannerBeforeLastFooter {
  height: 10px;
  width: 1230px;
  left: 170px;
}

.lastFooter {
  height: 343px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  background-color: #F0F0FF;
}
.lastFooter .lastFooterMainBlock {
  height: 267px;
  width: 1408px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock, .lastFooter .lastFooterMainBlock .lastFooterTwoBlock,
.lastFooter .lastFooterMainBlock .lastFooterThreeBlock, .lastFooter .lastFooterMainBlock .lastFooterFourBlock,
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock, .lastFooter .lastFooterMainBlock .lastFooterSixBlock {
  justify-content: space-between;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock {
  height: 222px;
  width: 209px;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock .cbsFooter {
  height: 94px;
  width: 209px;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock .lastFooterOneSpan {
  height: 103px;
  width: 209px;
  line-height: 21px;
}
.lastFooter .lastFooterMainBlock .lastFooterTwoBlock {
  height: 212px;
  width: 247px;
}
.lastFooter .lastFooterMainBlock .lastFooterBlockBigSpan {
  line-height: 21px;
  font-weight: 700;
}
.lastFooter .lastFooterMainBlock .lastFooterBlockSmallSpan {
  font-size: 14px;
  line-height: 17px;
}
.lastFooter .lastFooterMainBlock .lastFooterThreeBlock {
  height: 176px;
  width: 167px;
}
.lastFooter .lastFooterMainBlock .lastFooterFourBlock {
  height: 212px;
  width: 155px;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock {
  height: 220px;
  width: 31px;
  align-items: center;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock .ig, .lastFooter .lastFooterMainBlock .lastFooterFiveBlock .goldWhatsApp, .lastFooter .lastFooterMainBlock .lastFooterFiveBlock .human {
  height: 30px;
  width: 30px;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock .faceB {
  height: 41px;
  width: 20px;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock .vk {
  height: 17px;
  width: 30px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock {
  height: 168px;
  width: 185px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageOne, .lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageTwo,
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageOne {
  height: 22px;
  width: 185px;
  font-family: Montserrat, sans-serif;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageOne .lastPhone {
  height: 19px;
  width: 18px;
  width: 18px;
  height: 19px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageTwo {
  height: 21px;
  width: 162px;
  margin-left: -3px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageTwo .lastSMS {
  height: 18px;
  width: 24px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree {
  height: 50px;
  width: 185px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastGeo {
  height: 27px;
  width: 20px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan {
  height: 50px;
  width: 146px;
  text-align: center;
  margin-right: 8px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan .lastFooterTwoSpanOne {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 29px;
  font-size: 20px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan .lastFooterTwoSpanTwo {
  font-family: Montserrat, sans-serif;
  line-height: 23px;
  font-size: 16px;
}
.lastFooter .lastFooterMainBlock .visa {
  height: 60px;
  width: 197px;
  position: absolute;
  top: 251px;
  margin-left: 1226px;
}

/*# sourceMappingURL=style.css.map */
