ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAF37;
  color: #fff;
  cursor: pointer;
  font-family: Rubik, sans-serif;
  border: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #001569;
  }
}
@media (max-width: 479.98px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
  }
}

.border-art {
  position: relative;
}
.border-art::before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
.border-art::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
@media (max-width: 1510px) {
  .border-art::before, .border-art::after {
    display: none;
  }
}

.border-items-art {
  width: 100%;
  border: 8px solid rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art {
    border: 0;
  }
}
.border-items-art::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
  border-radius: 50%;
}
.border-items-art::after {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art::before, .border-items-art::after {
    display: none;
  }
}

.arrow-button {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrow-button::before {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 40px;
  background-color: rgb(74, 77, 74);
}
.arrow-button::before, .arrow-button::after {
  content: "";
  position: absolute;
}
.arrow-button::after {
  left: 39px;
  bottom: 4px;
  height: 10px;
  width: 10px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.pattern {
  height: 175px;
  width: 240px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
}
.pattern::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #1F347B;
  border-radius: 50%;
}
@media (max-width: 1510px) {
  .pattern {
    display: none;
  }
}

.arrow-blue {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input {
  cursor: text;
  font-size: 18px;
  padding-left: 20px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  border: 1px solid #001569;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
}

.close:hover {
  color: #001569;
  text-decoration: none;
  cursor: pointer;
}

.toolTipOne, .toolTipTwo, .toolTipThree,
.toolTipFour, .toolTypeBavBarOne,
.toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive,
.toolTypeBavBarSix {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  text-align: left;
  color: rgb(74, 77, 74);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  z-index: 500;
  animation: fadeIn 0.4s ease-in-out;
  font-size: 12px;
  line-height: 17px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toolTipOne::after, .toolTipTwo::after,
.toolTipThree::after, .toolTipFour::after,
.toolTypeBavBarOne::after, .toolTypeBavBarTwo::after,
.toolTypeBavBarThree::after, .toolTypeBavBarFour::after,
.toolTypeBavBarFive::after, .toolTypeBavBarSix::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #fff transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.boldText {
  font-weight: 700;
}

.toolTipOne, .toolTipTwo, .toolTipThree, .toolTipFour {
  top: 43px;
  left: 0;
}

.toolTipOne {
  height: 120px;
  width: 240px;
  padding-left: 5px;
}

.toolTipTwo {
  height: 120px;
  width: 346px;
  padding-left: 15px;
}

.toolTipThree {
  height: 120px;
  width: 369px;
  padding-left: 12px;
}

.toolTipFour {
  height: 120px;
  width: 106px;
  text-align: center;
  padding-left: 7px;
}

.toolTypeBavBarOne, .toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive, .toolTypeBavBarSix {
  top: 43px;
  left: 0px;
  text-align: left;
  padding: 2px;
}

.toolTypeBavBarOne {
  height: 120px;
  width: 177px;
}

.toolTypeBavBarTwo {
  height: 120px;
  width: 185px;
}

.toolTypeBavBarThree {
  height: 120px;
  width: 78px;
}

.toolTypeBavBarFour {
  height: 120px;
  width: 167px;
}

.toolTypeBavBarFive {
  height: 120px;
  width: 116px;
}

.toolTypeBavBarSix {
  height: 120px;
  width: 95px;
}

.catalog-page {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  flex: 1 1 100%;
}
@media (max-width: 991.98px) {
  .catalog-page {
    margin: 0 0 0 0;
  }
}
.catalog-page_categories {
  display: flex;
  margin: 0 -15px 10px -15px;
  flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .catalog-page_categories {
    margin: 0 -10px 10px -10px;
  }
}
.catalog-page_column {
  display: flex;
  height: 229px;
  flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 30px 0;
}
.catalog-page_column:last-child .catalog-page_category-block {
  padding: 15px 10px 0 10px;
}
@media (max-width: 1440px) {
  .catalog-page_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 479.98px) {
  .catalog-page_column {
    height: 140px;
    padding: 0 10px;
  }
  .catalog-page_column:last-child .catalog-page_category-block {
    padding: 5px 5px;
  }
  .catalog-page_column:last-child .catalog-page_category-block img {
    max-width: 24%;
  }
  .catalog-page_column:first-child .catalog-page_category-block img {
    max-width: 24%;
  }
}
.catalog-page_category-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0FF;
  padding: 30px 10px 0 10px;
  flex: 1 1 210px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border: 1px solid #4A4D4A;
  border-radius: 5px;
}
.catalog-page_category-block img {
  max-width: 100%;
  margin: 0 0 10px 0;
}
@media (max-width: 479.98px) {
  .catalog-page_category-block {
    padding: 5px 5px;
    justify-content: center;
  }
  .catalog-page_category-block img {
    max-width: 35%;
  }
}
.catalog-page_category-name {
  text-align: center;
}
.catalog-page_category-name span {
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 479.98px) {
  .catalog-page_category-name span {
    font-size: 14px;
    line-height: 17px;
  }
}
.catalog-page_sorting {
  margin: 0 0 30px 0;
}
.catalog-page_watch-more {
  display: flex;
  border: 1px solid #4A4D4A;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.catalog-page_watch-more span {
  padding: 3px 0 0 25px;
  z-index: 10;
  background: url("../images/catalog/arrow-circle.png") left no-repeat;
}
@media (min-width: 991.98px) {
  .catalog-page_watch-more:hover {
    color: #FFFFFF;
    background-color: #001569;
  }
}

.sorting-page {
  display: flex;
  align-items: center;
}
.sorting-page_item {
  margin: 0 15px 0 0;
  padding: 0 20px 0 0;
  background: url("../images/catalog/check-mark.png") right no-repeat;
}
.sorting-page_item span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.sorting-page_item._active span {
  font-weight: 500;
}
@media (max-width: 479.98px) {
  .sorting-page_item:not(:first-child) {
    display: none;
  }
}

.products-page {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.products-page_column {
  display: flex;
  flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 15px;
  height: 320px;
}
@media (max-width: 1440px) {
  .products-page_column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 1212px) and (min-width: 991.98px) {
  .products-page_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .products-page_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 479.98px) {
  .products-page_column {
    flex: 0 1 100%;
  }
}
.products-page_product-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 0 10px;
  flex: 1 1 210px;
  border: 1px solid #4A4D4A;
  border-radius: 5px;
}
.products-page_product-block img {
  max-width: 100%;
  margin: 0 0 10px 0;
}
.products-page_product-name {
  margin: 0 0 10px 0;
  text-align: center;
}
.products-page_product-name span {
  font-size: 14px;
  line-height: 17px;
}
.products-page_product-article {
  margin: 0 0 10px 0;
}
.products-page_product-article span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
.products-page_product-storage {
  margin: 0 0 10px 0;
}
.products-page_product-storage span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.products-page_product-price {
  margin: 0 0 10px 0;
}
.products-page_product-price span {
  color: #001569;
  font-size: 24px;
  line-height: 29px;
}
.products-page_product-button {
  height: 50px;
  width: 100%;
}
.products-page_product-button span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  padding: 0 0 0 40px;
  background: url("../images/sideMenuButtons/basket.png") left no-repeat;
}

/*# sourceMappingURL=catalog.css.map */
