ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAF37;
  color: #fff;
  cursor: pointer;
  font-family: Rubik, sans-serif;
  border: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #001569;
  }
}
@media (max-width: 479.98px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
  }
}
.btn_grey {
  color: #4A4D4A;
  background-color: #FFFFFF;
  border: 1px solid #001569;
}
@media (min-width: 991.98px) {
  .btn_grey:hover {
    color: #000000;
    background-color: #a1a1a1;
  }
}

.border-art {
  position: relative;
}
.border-art::before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
.border-art::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
@media (max-width: 1510px) {
  .border-art::before, .border-art::after {
    display: none;
  }
}

.border-items-art {
  width: 100%;
  border: 8px solid rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art {
    border: 0;
  }
}
.border-items-art::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
  border-radius: 50%;
}
.border-items-art::after {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art::before, .border-items-art::after {
    display: none;
  }
}

.arrow-button {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrow-button::before {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 40px;
  background-color: rgb(74, 77, 74);
}
.arrow-button::before, .arrow-button::after {
  content: "";
  position: absolute;
}
.arrow-button::after {
  left: 39px;
  bottom: 4px;
  height: 10px;
  width: 10px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.pattern {
  height: 175px;
  width: 240px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
}
.pattern::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #1F347B;
  border-radius: 50%;
}
@media (max-width: 1510px) {
  .pattern {
    display: none;
  }
}

.arrow-blue {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input {
  cursor: text;
  font-size: 18px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkbox {
  position: relative;
}
.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox_input:checked + .checkbox_text:before {
  border: 2px solid #4A4D4A;
}
.checkbox_input:checked + .checkbox_text:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../images/catalog/checkbox-background.png") center no-repeat;
}
.checkbox_text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #4A4D4A;
  cursor: pointer;
}
.checkbox_text:before {
  content: "";
  align-self: flex-start;
  margin: 0 10px 0 0;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #4A4D4A;
  border-radius: 3px;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
}

.close:hover {
  color: #001569;
  text-decoration: none;
  cursor: pointer;
}

.toolTipOne, .toolTipTwo, .toolTipThree,
.toolTipFour, .toolTypeBavBarOne,
.toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive,
.toolTypeBavBarSix {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  text-align: left;
  color: rgb(74, 77, 74);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  z-index: 500;
  animation: fadeIn 0.4s ease-in-out;
  font-size: 12px;
  line-height: 17px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toolTipOne::after, .toolTipTwo::after,
.toolTipThree::after, .toolTipFour::after,
.toolTypeBavBarOne::after, .toolTypeBavBarTwo::after,
.toolTypeBavBarThree::after, .toolTypeBavBarFour::after,
.toolTypeBavBarFive::after, .toolTypeBavBarSix::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #fff transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.boldText {
  font-weight: 700;
}

.toolTipOne, .toolTipTwo, .toolTipThree, .toolTipFour {
  top: 43px;
  left: 0;
}

.toolTipOne {
  height: 120px;
  width: 240px;
  padding-left: 5px;
}

.toolTipTwo {
  height: 120px;
  width: 346px;
  padding-left: 15px;
}

.toolTipThree {
  height: 120px;
  width: 369px;
  padding-left: 12px;
}

.toolTipFour {
  height: 120px;
  width: 106px;
  text-align: center;
  padding-left: 7px;
}

.toolTypeBavBarOne, .toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive, .toolTypeBavBarSix {
  top: 43px;
  left: 0px;
  text-align: left;
  padding: 2px;
}

.toolTypeBavBarOne {
  height: 120px;
  width: 177px;
}

.toolTypeBavBarTwo {
  height: 120px;
  width: 185px;
}

.toolTypeBavBarThree {
  height: 120px;
  width: 78px;
}

.toolTypeBavBarFour {
  height: 120px;
  width: 167px;
}

.toolTypeBavBarFive {
  height: 120px;
  width: 116px;
}

.toolTypeBavBarSix {
  height: 120px;
  width: 95px;
}

.footer {
  background-color: #F0F0FF;
  padding: 45px 0 0 0;
}
@media (max-width: 991.98px) {
  .footer {
    padding: 10px 0 0 0;
  }
}
.footer_container {
  display: flex;
  flex-direction: column;
}
.footer_head {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  position: relative;
}
@media (max-width: 991.98px) {
  .footer_head {
    display: flex;
  }
}
.footer_columns {
  display: flex;
  justify-content: space-between;
  margin: 0 -25px;
}
@media (max-width: 767.98px) {
  .footer_columns {
    margin: 0 0 0 0;
    flex-wrap: wrap;
  }
}
.footer_column {
  flex: 0 1 18%;
  padding: 0 20px;
  margin: 0 0 25px 0;
}
.footer_column_image_mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .footer_column_image_mobile {
    display: block;
  }
  .footer_column_image_mobile img {
    margin: 0 0 15px 0;
  }
}
.footer_column_image_no-mobile {
  flex: 0 0 10%;
}
.footer_column_image_no-mobile img {
  margin: 0 40% 15px 0;
}
@media (max-width: 991.98px) {
  .footer_column_image_no-mobile {
    display: none;
  }
}
.footer_column:first-child li:first-child {
  margin: 0 0 0 0;
}
@media (max-width: 991.98px) {
  .footer_column:first-child {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .footer_column_services {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .footer_column {
    flex: 0 1 25%;
  }
}
.footer_column:last-child.footer_info-block {
  margin: 0 0 10px 0 !important;
}
@media (max-width: 767.98px) {
  .footer_column {
    flex: 0 1 50%;
    padding: 0 0 0 0;
  }
}
.footer_column:last-child > .footer_info-block > li {
  margin: 0 0 16px 0;
}
.footer_logo-image-big {
  align-self: flex-start;
  margin: 0 0 0 0;
}
@media (max-width: 767.98px) {
  .footer_logo-image-big {
    display: none;
  }
}
.footer_logo-image-small {
  display: none;
  align-self: flex-start;
}
@media (max-width: 767.98px) {
  .footer_logo-image-small {
    display: inline-block;
    padding: 3px 0 0 0;
  }
}
.footer_info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_info-block img {
  max-width: 100%;
  align-self: center;
}
.footer_info-block li {
  margin: 0 0 18px 0;
}
@media (max-width: 767.98px) {
  .footer_info-block_services {
    align-items: center;
  }
}
.footer_logo-description {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  margin: 15px 0 0 0;
}
.footer_header {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
@media (max-width: 767.98px) {
  .footer_header {
    font-size: 16px;
    line-height: 20px;
  }
}
.footer_inscription {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.footer_inscription_phone {
  padding: 0 0 0 30px;
  background: url("../images/hat/phone.png") left/20px no-repeat;
}
.footer_inscription_phone span {
  white-space: nowrap;
  font-size: 18px;
  line-height: 21px;
  font-family: Montserrat, sans-serif;
}
@media (max-width: 767.98px) {
  .footer_inscription_phone {
    padding: 25px 0 0 0;
    background: url("../images/hat/phone.png") top/20px no-repeat;
  }
  .footer_inscription_phone span {
    font-size: 14px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
  }
}
.footer_inscription_email {
  padding: 0 0 0 35px;
  background: url("../images/hat/sms.png") left/25px no-repeat;
}
.footer_inscription_email span {
  white-space: nowrap;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 767.98px) {
  .footer_inscription_email {
    padding: 25px 0 0 0;
    background: url("../images/hat/sms.png") top/25px no-repeat;
  }
  .footer_inscription_email span {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer_inscription_geo {
  text-align: center;
  line-height: 20px;
  padding: 0 0 0 30px;
  background: url("../images/hat/geo.png") left/20px no-repeat;
}
.footer_inscription_geo p {
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.footer_inscription_geo span {
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .footer_inscription_geo {
    padding: 25px 0 0 0;
    background: url("../images/hat/geo.png") top/20px no-repeat;
  }
  .footer_inscription_geo span, .footer_inscription_geo p {
    font-size: 14px;
    line-height: 17px;
    font-family: Rubik, sans-serif;
  }
}
@media (max-width: 767.98px) {
  .footer_inscription {
    font-size: 13.5px;
    line-height: 17px;
  }
}
.footer_burger-menu {
  right: 0;
  top: 100%;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 991.98px) and (min-width: 767.98px) {
  .footer_burger-menu {
    top: 70%;
  }
}

/*# sourceMappingURL=footer.css.map */
