@import "var";

.footer {
  background-color: #F0F0FF;
  padding: 45px 0 0 0;

  @media (max-width: $md2+px) {
    padding: 10px 0 0 0;
  }

  &_container {
    display: flex;
    flex-direction: column;
  }

  &_head {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    position: relative;

    img {
    }

    @media (max-width: $md2+px) {
      display: flex;
    }
  }

  &_columns {
    display: flex;
    justify-content: space-between;
    margin: 0 -25px;

    @media (max-width: $md3+px) {
      margin: 0 0 0 0;
      flex-wrap: wrap;
    }
  }

  &_column {
    flex: 0 1 18%;
    padding: 0 20px;
    margin: 0 0 25px 0;

    &_image_mobile {
      display: none;

      @media (max-width: $md2+px) {
        display: block;

        img {
          margin: 0 0 15px 0;
        }
      }
    }

    &_image_no-mobile {
      flex: 0 0 10%;

      img {
        margin: 0 40% 15px 0;
      }

      @media (max-width: $md2+px) {
        display: none;
      }
    }

    &:first-child {

      li:first-child {
        margin: 0 0 0 0;
      }

      @media (max-width: $md2+px) {
        display: none;
      }
    }

    &_services {
      @media (max-width: $md2+px) {
        display: none;
      }
    }

    @media (max-width: $md2+px) {
      flex: 0 1 25%;
    }

    &:last-child {
      &.footer_info-block {
        margin: 0 0 10px 0 !important;
      }
    }

    @media (max-width: $md3+px) {
      flex: 0 1 50%;
      padding: 0 0 0 0;
    }

    &:last-child > .footer_info-block > li {
      margin: 0 0 16px 0;
    }
  }

  &_logo-image-big {
    align-self: flex-start;
    margin: 0 0 0 0;

    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &_logo-image-small {
    display: none;
    align-self: flex-start;

    @media (max-width: $md3+px) {
      display: inline-block;
      padding: 3px 0 0 0;
    }
  }

  &_info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    img {
      max-width: 100%;
      align-self: center;
    }

    li {
      margin: 0 0 18px 0;
    }

    &_services {
      @media (max-width: $md3+px) {
        align-items: center;
      }
    }
  }

  &_logo-description {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0 0 0;
  }

  &_header {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    @media (max-width: $md3+px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &_inscription {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    &_phone {
      padding: 0 0 0 30px;
      background: url("../images/hat/phone.png") left /20px no-repeat;

      span {
        white-space: nowrap;
        font-size: 18px;
        line-height: 21px;
        font-family: $fontFamilyMontserrat;
      }

      @media (max-width: $md3+px) {
        padding: 25px 0 0 0;
        background: url("../images/hat/phone.png") top /20px no-repeat;

        span {
          font-size: 14px;
          line-height: 17px;
          font-family: $fontFamilyRubik
        }
      }
    }

    &_email {
      padding: 0 0 0 35px;
      background: url("../images/hat/sms.png") left /25px no-repeat;

      span {
        white-space: nowrap;
        font-size: 18px;
        line-height: 21px;
      }

      @media (max-width: $md3+px) {
        padding: 25px 0 0 0;
        background: url("../images/hat/sms.png") top /25px no-repeat;

        span {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    &_geo {
      text-align: center;
      line-height: 20px;
      padding: 0 0 0 30px;
      background: url("../images/hat/geo.png") left /20px no-repeat;

      p {
        white-space: nowrap;
        font-family: $fontFamilyMontserrat;
        font-size: 20px;
        font-weight: 600;
      }

      span {
        white-space: nowrap;
        font-family: $fontFamilyMontserrat;
        font-size: 16px;
      }

      @media (max-width: $md3+px) {
        padding: 25px 0 0 0;
        background: url("../images/hat/geo.png") top /20px no-repeat;

        span, p {
          font-size: 14px;
          line-height: 17px;
          font-family: $fontFamilyRubik;
        }
      }
    }

    @media (max-width: $md3+px) {
      font-size: 13.5px;
      line-height: 17px;
    }
  }

  &_burger-menu {
    right: 0;
    top: 100%;
    border-radius: 10px 0 0 10px;

    @media (max-width: $md2+px) and (min-width: $md3+px){
      top: 70%;
    }
  }
}
