ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAF37;
  color: #fff;
  cursor: pointer;
  font-family: Rubik, sans-serif;
  border: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #001569;
  }
}
@media (max-width: 479.98px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
  }
}
.btn_grey {
  color: #4A4D4A;
  background-color: #FFFFFF;
  border: 1px solid #001569;
}
@media (min-width: 991.98px) {
  .btn_grey:hover {
    color: #000000;
    background-color: #a1a1a1;
  }
}

.border-art {
  position: relative;
}
.border-art::before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
.border-art::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
@media (max-width: 1510px) {
  .border-art::before, .border-art::after {
    display: none;
  }
}

.border-items-art {
  width: 100%;
  border: 8px solid rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art {
    border: 0;
  }
}
.border-items-art::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
  border-radius: 50%;
}
.border-items-art::after {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art::before, .border-items-art::after {
    display: none;
  }
}

.arrow-button {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrow-button::before {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 40px;
  background-color: rgb(74, 77, 74);
}
.arrow-button::before, .arrow-button::after {
  content: "";
  position: absolute;
}
.arrow-button::after {
  left: 39px;
  bottom: 4px;
  height: 10px;
  width: 10px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.pattern {
  height: 175px;
  width: 240px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
}
.pattern::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #1F347B;
  border-radius: 50%;
}
@media (max-width: 1510px) {
  .pattern {
    display: none;
  }
}

.arrow-blue {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input {
  cursor: text;
  font-size: 18px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkbox {
  position: relative;
}
.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox_input:checked + .checkbox_text:before {
  border: 2px solid #4A4D4A;
}
.checkbox_input:checked + .checkbox_text:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../images/catalog/checkbox-background.png") center no-repeat;
}
.checkbox_text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #4A4D4A;
  cursor: pointer;
}
.checkbox_text:before {
  content: "";
  align-self: flex-start;
  margin: 0 10px 0 0;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #4A4D4A;
  border-radius: 3px;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
  cursor: pointer;
}
.close:hover {
  color: #001569;
  text-decoration: none;
}

body {
  overflow: hidden;
  font-family: Rubik, sans-serif;
  color: #4A4D4A;
  font-weight: 500;
}

.error-page_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.error-page_container img {
  max-width: 100%;
  align-self: flex-start;
}
@media (max-width: 991.98px) {
  .error-page_container img {
    max-width: 25%;
  }
}
.error-page_info-block {
  display: flex;
  flex-direction: column;
}
.error-page_info-block p {
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin: 0 0 15px 0;
}
@media (max-width: 991.98px) {
  .error-page_info-block p {
    font-size: 28px;
    line-height: 36px;
  }
}
.error-page_info-block span {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 15px 0;
}
@media (max-width: 991.98px) {
  .error-page_info-block span {
    font-size: 20px;
    line-height: 28px;
  }
}
.error-page_info-block img {
  max-width: 100%;
  align-self: center;
}
.error-page_btn {
  align-self: center;
  padding: 20px 35px;
}

/*# sourceMappingURL=page_404.css.map */
