@import "common_styles";

html, body {
  font-family: $fontFamilyRubik;
  font-weight: 500;
  color: $colorGray;
  overflow: visible;
  height: 100%;
}

.header {
  margin: 0 0 28px 0;
}

.page {
  flex: 1 1 auto;

  &_bar-navigate {
    margin: 0 0 50px 0;

    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &_container {
    height: 100%;
    @media (min-width: $md2+px) {
      display: flex;
    }
  }

  &_main-content {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_side {
    flex: 0 0 448px;

    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
  }

  &_menu {
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 40px;
    max-height: 736px;

    @media (max-width: $md2+px) {
      margin: 0 0 0 0;
    }
  }

  &_header {
  }

  &_slider {

  }

  &_side-buttons {

  }

  &_collage {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_banners {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_customers {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_products-categories {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_repair {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_computer-brands {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_consultation {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_map {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_catalog {

  }

  &_promotion {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }

  &_products-slider {
    margin: 0 0 100px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 40px 0;
    }
  }
}

.navigate-bar {
  width: 100%;
  min-height: 60px;
  background-color: #F0F0FF;

  &_list {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 430px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &_option {
    cursor: pointer;
    position: relative;
    padding: 20px 20px 20px 20px;
    background: url("../images/hat/info.png") right no-repeat;

    &:first-child {
      padding: 20px 20px 20px 0;
    }

    @media (max-width: $md2+px) {
      &:first-child {
        display: none;
      }
    }

    @media (max-width: $md3+px) {
      &:nth-child(2) {
        display: none;
      }
    }

    @media (max-width: 430px) {
      &:first-child, &:nth-child(2) {
        display: block;
      }
    }

    a {
      transition: all 0.3s ease 0s;
      white-space: nowrap;
      font-size: 18px;
      position: relative;

      &:hover {
        color: $colorOrange;
      }

      @media (max-width: 1340px) {
        font-size: 14px;
      }

      &::after {
        @include backgroundImage(black, 60%);
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        content: '';
        height: 2px;
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }

      &:hover:after {
        @include backgroundImage($colorOrange, 100%);
      }

      @media (max-width: 430px) {
        &::after {
          display: none;
        }
      }
    }
  }

  &_tooltype {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    max-width: 100%;
    height: auto;
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    border-radius: 10px;
    color: #4A4D4A;
    box-shadow: $boxShadow;
    z-index: 10;
    animation: fadeIn 0.4s ease-in-out;
    white-space: normal;
    padding: 10px;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    span {
      font-weight: 500;
    }
  }
}

.menu-page {
  display: flex;
  flex-direction: column;

  &_header {
    height: 65px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: #F0F0FF;
    padding: 0 0 0 25px;

    span {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    box-shadow: $boxShadow;
    position: relative;
  }

  &_item {
    display: flex;
    align-items: center;
    padding: 11px 0 11px 0;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: $colorOrange;
        color: #FFFFFF;
      }
    }

    img {
      padding: 0 0 0 20px;

      @media (max-width: $md4+px) {
        padding: 0 0 0 10px;
      }
    }

    span {
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      margin: 0 0 0 15px;
      color: $colorBlack;

      @media (max-width: $md4+px) {
        font-size: 13px;
        margin: 0 0 0 10px;
      }
    }
  }

  &_arrow {
    margin-right: 15px;
    height: 9px;
    width: 9px;
  }
}

.sub-menu-page {
  display: none;
  width: 962px;
  height: 100%;
  top: 0;
  left: 100%;
  position: absolute;
  padding: 30px 30px;
  background-color: #FFFFFF;
  z-index: 5;
  border-radius: 0 20px 20px 0;
  box-shadow: $boxShadow;
  animation: fadeIn 0.3s ease 0s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1440px) {
    width: 762px;
  }

  @media (max-width: 1250px) {
    width: 600px;
  }

  @media (max-width: 1088px) {
    width: 504px;
  }

  @media (max-width: $md2+px) {
    display: none;
  }

  &_column {
    flex: 0 1 33.333%;
  }

  &_block {
    margin: 0 0 40px 0;
    height: 119px;
  }

  &_header {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px 0;

    @media (max-width: 1250px) {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 15px 0;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;

    li {
      margin: 0 0 5px 0;
    }
  }

  &_name {
    font-size: 14px;
    line-height: 17px;
    color: #4A4D4A;
    transition: all 0.3s ease 0s;
    display: inline;

    @media (max-width: 1250px) {
      font-size: 12px;
      line-height: 24px;
    }

    @media (min-width: $md2+px) {
      &:hover {
        color: $colorBlue;
      }
    }
  }
}

.header-page {
  margin: 0 0 10px 0;

  &_content {
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }

  span {
    font-family: $fontFamilyMontserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;

    @media (max-width: $md1+px) {
      font-size: 30px;
      line-height: 35px;
    }

    @media (max-width: 1110px) {
      font-size: 24px;
      line-height: 29px;
      font-family: Rubik, sans-serif;
    }

    span {
      font-family: Rubik, sans-serif;

      span {
        color: $colorOrange;
      }
    }
  }
}

.slider-page {
  height: 590px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background: url("../images/hat/mainBannerImage.png") 0 0 no-repeat;
  background-size: cover;
  animation: fadeIn 0.5s ease-in-out;
  transition: background-image 0.5s;

  &_pattern {
    right: -30px;
    bottom: -30px;
    transform: rotate(-180deg);

    &::after {
      bottom: -20px;
      left: -15px;
    }
  }

  &_text {
    width: 100%;
    min-height: 116px;
    position: absolute;
    top: 23%;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 12% 0 0;

    @media (max-width: $md2+px) {
      display: flex;
      justify-content: center;
      padding: 0 10px;
    }
  }

  &_text-block {
    min-height: 116px;
    max-width: 422px;
    text-align: center;

    span {
      font-size: 30px;
      color: $colorWhite;
      font-weight: 550;
      line-height: 37px;
      transition: all 0.3s ease 0s;
      @media (max-width: $md2+px) {
        line-height: 24px;
        font-size: 20px;
        top: 30%;
      }
    }

    @media (max-width: 590px) {
      right: 0;
    }
  }

  &_offer {
    position: absolute;
    top: 60%;
    right: 16%;
    display: inline-flex;
    padding: 24px 43px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    @media (max-width: $md2+px) {
      top: 65%;
      right: 0;
      width: 100%;
      display: flex;
      padding: 20px 40px;
    }
  }

  &_arrow-buttons {
    height: 50px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    padding: 0 20px;
  }

  &_arrow-button {
    cursor: pointer;
    background-color: $colorWhite;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease 0s;
    display: none;
    animation: fadeIn 0.5s ease 0s;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &:first-child {
      transform: rotate(-180deg);
    }

    @media (min-width: $md2+px) {
      &:hover {
        background-color: $colorOrange;
      }
    }

    .arrow-blue {
      width: 18px;
      height: 18px;
      right: 20px;
      border-top: 5px solid #001569;
      border-left: 5px solid #001569;
    }
  }

  .bannerButtonCommon {
    cursor: pointer;
    transition: $backgroundTransition;
    padding: 20px;

    .buttonBannerLeft {
      margin-left: 5px;
      animation: fadeIn 0.5s ease-in-out;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .buttonBannerRight {
      display: none;
      margin-left: 812px;
      animation: fadeIn 0.5s ease-in-out;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &_pagination {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    height: 40px;

    @media (max-width: $md4+px) {
      bottom: 20px;
    }
  }

  &_pagination-container {
    width: 152px;
    height: 20px;
    display: inline-flex;
    justify-content: space-between;
    top: 93%;
    right: 40%;
  }

  &_circle {
    @include heightAndWidth(20px, 20px);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $colorWhite;
    transition: all 0.3s ease 0s;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: $colorOrange;
      }
    }

    &._active {
      background-color: $colorOrange;
    }
  }
}

.buttons-side {
  height: 271px;
  width: 90px;
  box-shadow: $boxShadow;
  position: fixed;
  right: 0;
  top: 400px;
  cursor: pointer;
  z-index: 1000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (max-width: 1700px) {
    display: none;
  }

  &_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    li {
      flex: 0 0 33.333%;
      background-color: #fff;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &_item {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #1F347B;
    transition: all 0.3s ease 0s;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &_cart {
      border-top-left-radius: 10px;
      background: url("../images/sideMenuButtons/basket.png") center no-repeat;
    }

    &_heart {
      background: url("../images/sideMenuButtons/heart.png") center no-repeat;
    }

    &_columns {
      border: 0;
      background: url("../images/sideMenuButtons/columns.png") center no-repeat;
    }

    &._active {
      background-color: #1F347B;
    }
  }
}

.afterNavBarBannerAndSpan {
  margin-left: 42px;

  .productMenu {
    max-width: 922px;
    width: 100%;
    max-height: 736px;
    height: 100%;
    display: none;
    position: relative;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    animation: fadeIn 0.9s ease-in-out;

    @media (max-width: 1426px) {
      max-height: 1567px;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .productMenuBlock {
    display: none;
    @include heightAndWidth(320px, 210px);
    align-items: center;
    background-color: $colorWhite;
    box-shadow: $boxShadow;
    border: 0.4px solid #4A4D4A;
    border-radius: 4px;
    transition: $backgroundTransition;
    font-size: 14px;
    text-align: center;
    margin-bottom: 96px;
  }

  .oneProduct:hover, .twoProduct:hover,
  .threeProduct:hover, .fourProduct:hover {
    background-color: #cec9c9;
  }

  .oneProduct {
    background-color: #F0F0FF;
    cursor: pointer;

    .pmPhoneMain {
      @include heightAndWidth(116px, 45px);
      margin-top: 45px;
    }

    .oneProductSpan {
      margin-top: 22px;
    }
  }

  .twoProduct {
    background-color: #F0F0FF;
    cursor: pointer;

    .pmTabletMain {
      @include heightAndWidth(118px, 81px);
      margin-top: 45px;
    }

    .twoProductSpan {
      margin-top: 20px;
    }
  }

  .threeProduct {
    background-color: #F0F0FF;
    cursor: pointer;

    .pmPodsMain {
      @include heightAndWidth(117px, 93px);
      margin-top: 48px;
    }

    .threeProductSpan {
      margin-top: 18px;
    }
  }

  .fourProduct {
    background-color: #F0F0FF;
    cursor: pointer;

    .pmCaseMain {
      @include heightAndWidth(117px, 93px);
      margin-top: 48px;
    }

    .fourProductSpan {
      margin-top: 18px;
    }
  }

  .fiveProduct, .sixProduct, .sevenProduct, .eightProduct {
    display: flex;
    justify-content: space-between;
  }

  .pmPhone {
    @include heightAndWidth(94px, 59px);
    margin-top: 8px;
  }

  .pmPods {
    margin-top: 16px;
  }

  .pmClock {
    margin-top: 9px;
  }

  .pmTablet {
    margin-top: 9px;
  }

  .productBlockSpanOne {
    margin-top: 12px;
    font-weight: 600;
    color: black;
    line-height: 17px;
  }

  .fiveProductSpanOneTwo {
    margin-top: 4px;
  }

  .productBlockSpanTwo {
    font-weight: 300;
    line-height: 21px;
  }

  .sevenProductSpanOneTwo {
    margin-top: 11px;
  }

  .productBlockSpanThree {
    font-weight: 400;
    line-height: 21px;
    color: black;
  }

  .productBlockSpanFour {
    color: $colorBlue;
    font-size: 24px;
    line-height: 29px;
  }

  .inBasket {
    @include heightAndWidth(50px, 190px);
    @include flexAndAlign(center, center);
    gap: 11px;
    margin-bottom: 14px;
  }

  .blockBetweenTwoRowProduct {
    @include heightAndWidth(20px, 350px);
    @include flexAndAlign(space-between, center);
    top: 350px;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    color: #4A4D4A;
    font-size: 14px;

    .blockBetweenTwoRowProductOneSpan {
      cursor: pointer;
      transition: color 0.5s;
    }

    .blockBetweenTwoRowProductSpan {
      font-weight: 400;
      line-height: 21px;
      cursor: pointer;
      transition: color 0.5s;
    }

    .blockBetweenTwoRowProductSpan:hover, .blockBetweenTwoRowProductOneSpan:hover {
      color: $colorOrange;
    }

    .leftBlockBetweenOne, .leftBlockBetweenTwo, .leftBlockBetweenThree {
      @include heightAndWidth(8px, 8px);
      position: absolute;
      margin-right: 15px;
      cursor: pointer;
      border-top: 1px solid #4A4D4A;
      border-left: 1px solid #4A4D4A;
      transform: rotate(-135deg);
    }

    .leftBlockBetweenOne {
      @include topAndLeft(3px, 127px);
    }

    .leftBlockBetweenTwo {
      @include topAndLeft(3px, 258px);
    }

    .leftBlockBetweenThree {
      @include topAndLeft(3px, 357px);
    }
  }
}

.collage-page {
  &_columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &_column {
    flex: 0 1 25%;
    padding: 0 15px;
    margin: 0 0 15px 0;

    @media (max-width: 1410px) {
      flex: 0 1 33.333%;
    }

    @media (max-width: 1068px) {
      flex: 0 1 50%;
    }

    @media (max-width: 728px) {
      flex: 0 1 100%;
    }

    &_big-block {
      flex: 0 1 50%;

      @media (max-width: 1410px) {
        display: none;
      }
    }
  }

  &_block {
    box-shadow: $boxShadow;
    height: 250px;
    background-color: #FFFFFF;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    flex-direction: column;

    @media (max-width: $md4+px) {
      height: 200px;
    }

    img {
      margin: 0 0 15px 0;

      @media (max-width: $md4+px) {
        margin: 0 0 7px 0;
      }
    }

    &_first {
      background-color: #F0F0FF;

      p {
        padding: 0 40px;
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
        text-align: center;

        @media (max-width: $md4+px) {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  &_header {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 15px 0;
    white-space: nowrap;

    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &_content {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

    &_bold {
      font-weight: 500;

      @media (max-width: $md4+px) {
        font-weight: 400;
      }
    }

    @media (max-width: $md4+px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &_many-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.banners-page {

  &_first {
    margin: 0 0 30px 0;

    @media (max-width: $md2+px) {
      margin: 0 0 0 0;
    }
  }

  &_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }

  &_column {
    flex: 0 1 50%;
    padding: 0 15px 0 0;

    &:last-child {
      padding: 0 0 0 15px;
    }

    @media (max-width: $md2+px) {
      flex: 0 1 100%;
      padding: 15px 0;

      &:last-child {
        padding: 15px 0;
      }
    }
  }

  &_banner {
    position: relative;
    background-color: #F0F0FF;
    height: 400px;
    padding: 30px 45px 0 15px;

    &_color {
      background-color: #E3E1FF;
    }

    @media (max-width: 670px) {
      display: flex;
      flex-direction: column;
      padding: 30px 0 20px 0;
    }
  }

  &_images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 323px;

    img {
      align-self: flex-start;
      max-width: 100%;

      @media (max-width: 1340px) and (min-width: $md2+px) {
        max-width: 70%;
      }

      @media (max-width: 670px) {
        max-width: 160px;
        padding: 0 0 0 20px;
      }
    }

    @media (max-width: 670px) {
      max-width: 100%;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      padding: 0 10px 0 0;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    position: absolute;
    right: 0;
    top: 25%;
    padding: 0 45px 0 0;
    max-width: 536px;
    max-height: 239px;
    height: 100%;

    @media (max-width: 1340px) {
      padding: 0 15px 0 0;
    }

    a {
      @media (max-width: 1160px) and (min-width: $md2+px) {
        font-size: 16px;
      }

      @media (max-width: 670px) {
        display: flex;
        max-width: 100%;
        width: 100%;
      }
    }

    @media (max-width: 670px) {
      position: relative;
      padding: 0 0 0 0;
      top: 0;
      align-items: center;
      max-width: 100%;
      text-align: center;
    }
  }

  &_content-last-banner {

    &_first-place {
      max-width: 268px;

      @media (max-width: 670px) {
        max-width: 100%;
      }
    }

    &_second-place {
      max-width: 340px;

      @media (max-width: 670px) {
        max-width: 100%;
      }
    }
  }

  &_header {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 0 0 30px 0;
    padding: 0 0 0 10px;

    @media (max-width: 1162px) {
      margin: 0 0 15px 0;
    }

    @media (max-width: 670px) {
      font-size: 18px;
      line-height: 22px;
      padding: 0 5px
    }
  }

  &_description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 20px 0;
    max-width: 300px;

    @media (max-width: 1340px) and (min-width: $md2+px) {
      max-width: 268px;
    }

    @media (max-width: 1160px) and (min-width: $md2+px) {
      max-width: 200px;
    }

    @media (max-width: 670px) {
      font-size: 16px;
      line-height: 20px;
      padding: 0 4px
    }
  }

  &_button {
    display: inline-flex;
    padding: 20px;
    max-width: 300px;

    &_last {
      padding: 20px 50px 20px 50px;
      z-index: 10;
    }

    @media (max-width: 1340px) {
      max-width: 268px;
    }

    @media (max-width: 1160px) and (min-width: $md2+px) {
      max-width: 200px;
    }

    &_equipment {
      @media (max-width: 1160px) and (min-width: $md2+px) {
        max-width: 250px;
      }
    }
  }

  br {
    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &_pattern {

    &_first-place {
      left: -15px;
      top: -30px;

      &::after {
        right: -5px;
        top: -15px;
      }
    }

    &_second-place {
      right: -15px;
      bottom: -30px;
      transform: rotate(180deg);

      &::after {
        left: -15px;
        bottom: -5px;
      }
    }
  }
}

.customers-page {
  background-color: #F0F0FF;
  padding: 30px 0;

  &_container {
    display: flex;
    flex-direction: column;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;

    & > span {
      padding: 0 25px 0 0;
      font-size: 30px;
      font-weight: 500;
      line-height: 37px;

      @media (min-width: $md2+px) {
        max-width: 720px;
      }
    }

    @media (max-width: $md2+px) {
      text-align: center;

      & span {
        padding: 0 0 0 0;
      }
    }

    @media (max-width: $md4+px) {
      & span {
        font-size: 24px;
        line-height: 28px;
      }
    }

    a {
      display: inline-flex;

      @media (max-width: $md2+px) {
        display: none;
      }
    }
  }

  &_brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $md2+px) {
      margin: 0 0 30px 0;
    }
  }

  &_brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1105px) {
      margin: 0 0 20px 0;
    }

    span {
      text-align: center;
      font-size: 20px;
      line-height: 23px;
      font-weight: 500;

      @media (max-width: $md3+px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &_college {
      max-width: 250px;

      @media (max-width: $md3+px) {
        max-width: 132px;
      }
    }

    &_mfti {
      max-width: 195px;

      @media (max-width: $md3+px) {
        max-width: 80px;
      }
    }

    &_planet {
      max-width: 290px;

      @media (max-width: $md3+px) {
        max-width: 224px;
      }
    }

    &_fgyp {
      max-width: 190px;

      @media (max-width: $md3+px) {
        max-width: 104px;
      }
    }

    &_ao {
      max-width: 140px;

      @media (max-width: $md3+px) {
        max-width: 101px;
      }
    }

    img {
      max-width: 100%;

      @media (max-width: $md3+px) {
        max-width: 80%;
      }
    }
  }

  &_btn {
    padding: 18px 70px 18px 15px;
    border: 2px solid $colorOrange;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    @media (min-width: $md2+px) {
      &:hover {
        color: #FFFFFF;
        background-color: $colorBlue;
      }
    }

    @media (max-width: 1040px) {
      padding: 18px 60px 18px 5px;
    }

    &_footer {
      display: none;

      @media (max-width: $md2+px) {
        display: flex;
        justify-content: center;
        text-align: center;
        white-space: normal;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 60px 15px 5px;
      }
    }
  }

  &_arrow-button {
    top: -2px;
    left: 20px;

    @media (max-width: 370px) {
      top: 5px;
      left: -10px;
    }
  }
}

.products-categories-page {
  min-height: 804px;

  &_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px;
  }

  &_column {
    flex: 0 1 25%;
    padding: 0 11px;
    margin: 0 0 22px 0;

    @media (max-width: 1425px) {
      flex: 0 1 33.333%;
    }

    @media (max-width: 1076px) {
      flex: 0 1 50%;
    }

    @media (max-width: $md3+px) {
      flex: 0 1 100%;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 14px;
    min-width: 330px;
    min-height: 248px;
    box-shadow: $boxShadow;
    cursor: pointer;

    @media (max-width: $md4+px) {
      min-height: 200px;
      min-width: 300px;
    }

    &_first {
      background-color: #F0F0FF;
      text-align: center;
      padding: 0 30px;
      justify-content: center;

      span {
        font-size: 30px;
        line-height: 37px;
        font-weight: 500;
      }
    }

    a {
      font-size: 14px;
      line-height: 17px;
    }

    &_last {
      padding: 80px 27px 10px 27px;

      @media (max-width: $md4+px) {
        padding: 80px 0 10px 0;
      }
    }

    img {
      max-width: 100%;
      display: inline-block;
      align-self: center;

      @media (max-width: $md4+px) {
        max-width: 55%;
      }
    }

    &_video-cart {
      padding: 0 14px 11px 14px
    }

    &_computer-technique {
      img {
        margin: 0 0 11px 0;
      }
    }
  }

  &_link {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 0;

    span {
      white-space: nowrap;
    }

    &_last {
      justify-content: flex-end;
    }
  }

  &_btn {
    padding: 25px 0;
    margin: 0 0 40px 0;
  }
}

.repair-page {
  background-color: #F0F0FF;
  padding: 30px 0;

  &_container {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }

  &_info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 200px;
    margin: 0 0 0 103 / $maxWidthContainer * 100vw;

    @media (max-width: $md2+px) {
      margin: 0 0 0 0;
    }
  }

  &_header {
    font-size: 24px;
    line-height: 29px;

    @media (max-width: $md2+px) {
      text-align: center;
      margin: 0 0 20px 0;
    }

    @media (max-width: $md4+px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &_content {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;

    @media (max-width: $md2+px) {
      text-align: center;
      margin: 0 0 20px 0;
    }

    @media (max-width: $md4+px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  img {
    max-width: 100%;
    align-self: flex-end;
    margin: 0 103 / $maxWidthContainer * 100vw 0 30px;

    @media (max-width: $md2+px) {
      align-self: center;
      margin: 0 0 0 0;
    }
  }

  &_btn {
    justify-content: space-between;
    display: inline-flex;
    padding: 18px 70px 18px 15px;
    border: 2px solid $colorOrange;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    @media (max-width: $md2+px) {
      display: none;
    }

    @media (min-width: $md2+px) {
      &:hover {
        color: #FFFFFF;
        background-color: $colorBlue;
      }
    }

    @media (max-width: 1040px) {
      padding: 18px 60px 18px 5px;
    }

    &_footer {
      display: none;

      @media (max-width: $md2+px) {
        display: flex;
        justify-content: center;
        text-align: center;
        white-space: normal;
        font-size: 16px;
        line-height: 19px;
        padding: 15px 60px 15px 5px;
        margin: 0 0 30px 0;
      }
    }
  }

  &_arrow-button {
    top: -2px;
    left: 20px;

    @media (max-width: 423px) {
      top: 5px;
      left: 0;
    }
  }
}

.computer-brands-page {

  &_container {

    &::before {
      width: 170px;
      height: 8px;
      right: 20px;
      top: 0;
    }

    &::after {
      width: 90px;
      height: 8px;
      right: -21px;
      top: 49px;
      transform: rotate(90deg);
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;

    @media (max-width: $md4+px) {
      padding: 0 0;
    }

    &::before {
      right: 164px;
      top: -10px;
      width: 27px;
      height: 27px;
    }

    &::after {
      width: 124px;
      height: 8px;
      right: 28px;
      top: 98px;
    }
  }

  &_header {
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 60px 0;
    max-width: 680px;

    @media (max-width: 1510px) {
      align-self: center;
      text-align: center;
    }

    @media (max-width: 1030px) {
      margin: 0 0 30px 0;
    }

    @media (max-width: $md4+px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &_footer {

  }

  &_brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1030px) {
      justify-content: space-around;
    }

    img {
      max-width: 100%;
      margin: 0 0 30px 0;

      @media (max-width: $md4+px) {
        max-width: 30%;
      }
    }
  }
}

.consultation-page {

  &_container {
    display: flex;
    flex-direction: column;

    @media (max-width: $md2+px) {
      box-shadow: $boxShadow;
    }
  }

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;

    @media (max-width: $md2+px) {
      padding: 20px 0 0 0;
    }

    h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: 42px;
      margin: 0 0 15px 0;
      text-align: center;

      @media (max-width: 1200px) {
        font-size: 28px;
        line-height: 36px;
      }

      @media (max-width: $md2+px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      text-align: center;

      @media (max-width: 1200px) {
        font-weight: 400;
      }

      @media (max-width: $md2+px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &_footer {
    display: flex;
    justify-content: space-around;
    box-shadow: $boxShadow;
    padding: 40px 0 20px 0;

    @media (max-width: $md2+px) {
      box-shadow: none;
      padding: 0 0 20px 0;
    }

    img {
      max-width: 100%;
      align-self: flex-start;

      @media (max-width: 1200px) {
        max-width: 50%;
        align-self: center;
      }

      @media (max-width: $md2+px) {
        display: none;
      }
    }
  }

  &_form {
    display: flex;
    flex-direction: column;

    @media (max-width: $md2+px) {
      width: 100%;
    }
  }

  &_label {
    display: flex;
    flex-direction: column;

    input {
      border: 1px solid $colorBlack;
      padding: 28px 84px 28px 20px;
      margin: 0 0 20px 0;

      @media (max-width: $md4+px) {
        padding: 18px 89px 18px 15px;

        &::placeholder {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }

    button {
      padding: 28px 52px 28px 52px;
      margin: 0 0 20px 0;

      @media (max-width: $md4+px) {
        padding: 18px 52px 18px 52px;
      }
    }
  }

  &_checkbox {
    display: flex;
    justify-content: flex-start;

    label {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #4A4D4A;
      }

      &::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background: url("../images/twoBannerAfterTwoFooter/checkMark.png") center no-repeat;
        transform: translate(50%, 50%);
      }
    }

    input {
      display: none;
    }

    span {
      display: inline-block;
      margin: 0 0 0 10px;
      max-width: 164px;
      font-size: 10px;
      line-height: 15px;
      font-weight: 300;
      text-decoration: underline;
    }
  }
}

.map-page {

  &_container {

    &::before {
      width: 170px;
      height: 8px;
      left: 20px;
      top: 0;
    }

    &::after {
      width: 90px;
      height: 8px;
      left: -21px;
      top: 49px;
      transform: rotate(90deg);
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;

    @media (max-width: $md4+px) {
      padding: 0 0;
    }

    &::before {
      left: 164px;
      top: -10px;
      width: 27px;
      height: 27px;
    }

    &::after {
      width: 124px;
      height: 8px;
      left: 28px;
      top: 98px;
    }
  }

  &_header {
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    max-width: 580px;

    @media (max-width: 1170px) {
      margin: 0 0 20px 0;
    }

    @media (max-width: $md3+px) {
      font-size: 20px;
      line-height: 25px;
    }
  }


  &_content {
    display: flex;
    width: 100%;
    justify-content: space-around;

    img {
      max-width: 100%;

      @media (max-width: 1170px) and (min-width: $md2+px) {
        max-width: 50%;
      }
    }

    @media (max-width: $md2+px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &_info-block {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 1170px) {
      margin: 0 0 20px 0;
    }
  }

  &_contact {
    padding: 10px 0 10px 40px;
    margin: 0 0 5px 0;

    span {
      font-size: 20px;
      line-height: 24px;

      @media (max-width: $md3+px) {
        font-size: 14px;
        line-height: 21px;
      }
    }

    &_geo {
      background: url("../images/bannerBeforeLastFooter/newGeo.png") left no-repeat;
    }

    &_phone {
      background: url("../images/bannerBeforeLastFooter/newPhone.png") left no-repeat;
    }

    &_sms {
      background: url("../images/bannerBeforeLastFooter/newSMS.png") left no-repeat;
    }

    &_whatsapp {
      background: url("../images/hat/whatsApp.png") left no-repeat;
    }

    &_clock {
      background: url("../images/bannerBeforeLastFooter/clock.png") left no-repeat;
    }
  }
}
