@import "common_styles";

.product-cart {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  flex: 1 1 100%;

  @media (max-width: $md2+px) {
    margin: 0 0 0 0;
  }

  &_content {
    display: flex;
    box-shadow: $boxShadow;
    border-radius: 10px;
    padding: 20px 25px 25px 25px;
    margin: 0 0 30px 0;
    flex-wrap: wrap;

    @media (max-width: $md3+px) {
      padding: 10px 10px;
    }
  }

  &_pictures {
    flex: 0 1 45%;

    @media (max-width: 1440px) {
      flex: 0 1 100%;
    }
  }

  &_image-block {
    position: relative;
    padding: 0 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1440px) {
      margin: 0 0 20px 0;
    }

    @media (max-width: $md2+px) {
      padding: 0 0 0 0;
    }
  }

  &_slider {
    position: relative;
    flex: 0 1 100%
  }

  &_arrow {
    width: 10px;
    height: 14px;
    position: absolute;
    background: url("../images/product-cart/arrow-slider.png") center no-repeat;
    top: 35%;
    cursor: pointer;
    z-index: 2;

    &_left {
      left: -25px;
      transform: rotate(180deg);
    }

    &_right {
      right: -25px;
    }
  }

  &_cartridge {
    margin: 0 0 30px 0;
    max-width: 100%;

    @media (max-width: $md3+px) {
      max-width: 50%;
    }
  }

  &_description {
    flex: 0 1 55%;

    @media (max-width: 1440px) {
      flex: 0 1 100%;
    }
  }

  &_slider-body {
    display: flex;
    max-width: 223px;
    justify-content: space-between;
    overflow: hidden;

    @media (max-width: $md4+px) {
      max-width: 200px;
    }
  }

  &_slide {
    cursor: pointer;

    img {
      max-width: 100%;
    }
  }

  &_description {

  }

  &_info {

  }
}

.description-product-cart {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;

  @media (max-width: $md3+px) {
    padding: 0 0 0 0;
  }

  &_header {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 15px 0;

    @media (max-width: 1440px) {
      text-align: center;
    }

    @media (max-width: $md3+px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &_parameters {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(74, 77, 74, 0.5);
    padding: 0 0 5px 0;
    margin: 0 0 25px 0;

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      margin: 0 0 10px 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }

    @media (max-width: $md3+px) {
      text-align: center;

    }
  }

  &_quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
  }

  &_count {
    font-size: 24px;
    line-height: 29px;
    color: #001569;
    margin: 0 0 15px 0;
  }

  &_counter {
    display: flex;
    width: 173px;
    height: 41px;
    box-shadow: $boxShadow;
    border-radius: 5px;
  }

  &_input {
    flex: 0 1 33.333%;
    border-right: 1px solid rgba(74, 77, 74, 0.5);

    input {
      padding: 0 10px;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }

  &_counter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 33.333%;
    border-right: 1px solid rgba(74, 77, 74, 0.5);
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: $colorBlue;
        color: #FFFFFF;
      }

      &:first-child:hover {
        background-color: $colorBlue;
        color: #FFFFFF;
        border-radius: 5px 0 0 5px;
      }

      &:last-child:hover {
        background-color: $colorBlue;
        color: #FFFFFF;
        border-radius: 0 5px 5px 0;
      }
    }

    &:last-child {
      border: 0;
    }
  }

  &_buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -34px 15px -34px;

    @media (max-width: 1440px) {
      margin: 0 -10px 15px -10px;
    }
  }

  &_button-column {
    display: flex;
    flex: 0 1 50%;
    padding: 0 34px;
    justify-content: flex-start;

    &:last-child {
      justify-content: flex-end;
    }

    @media (max-width: 1440px) {
      padding: 0 10px;
    }

    @media (max-width: $md3+px) {
      flex: 0 1 100%;
    }
  }

  &_buy {
    flex: 0 1 190px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #001569;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    span {
      white-space: nowrap;
      font-family: Rubik, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      padding: 10px 0 10px 40px;
      background: url("../images/product-cart/pointer.png") left no-repeat;
    }

    @media (min-width: $md2+px) {
      &:hover {
        background-color: $colorBlue;
        color: #FFFFFF;
      }
    }

    @media (max-width: $md3+px) {
      flex: 0 1 100%;
      margin: 0 0 15px 0;
    }
  }

  &_btn {
    flex: 0 1 190px;

    @media (max-width: $md3+px) {
      flex: 0 1 100%;
    }
  }

  &_condition {
    font-size: 10px;
    text-decoration: underline;
    font-weight: 300;
    max-width: 250px;
    margin: 0 0 30px 0;

    @media (max-width: $md3+px) {
      text-align: center;
      max-width: 100%;
    }
  }

  &_deliveries {
    display: flex;
    flex-direction: column;
  }

  &_delivery {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 15px 0 15px 70px;
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0 0 0 0;
    }

    &_office {
      background: url("../images/product-cart/office.png") left no-repeat;

      @media (max-width: $md4+px) {
        background: url("../images/product-cart/office.png") left /35px no-repeat;
      }
    }

    &_car {
      background: url("../images/product-cart/car.png") left no-repeat;

      @media (max-width: $md4+px) {
        background: url("../images/product-cart/car.png") left /35px no-repeat;
      }
    }

    @media (max-width: $md4+px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      padding: 10px 0 10px 40px;
    }
  }
}


.info-product-cart {
  display: flex;
  flex-direction: column;
  position: relative;

  &_tabs {
    display: flex;
    margin: 0 0 15px 0;
  }

  &_tab {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    border: 1px solid rgba(74, 77, 74, 0.5);
    padding: 14px 0;
    flex: 0 1 240px;
    cursor: pointer;
    text-align: center;

    &._active {
      border: 0 solid #FFAF37;
      border-top-width: 2px;
      background-color: #F0F0FF;
      color: #001569;
    }

    @media (max-width: $md3+px) {
      flex: 1 1 auto;
    }

    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
    }
  }

  &_block {
    display: none;

    &._active {
      display: block;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    margin: 0 0 25px 0;
  }

  &_content {
    display: flex;

    &_delivery {
      flex-direction: column;

      ul {
        padding: 0 0 0 30px;
      }

      li {
        list-style-type: disc;

        &:first-child {
          margin: 15px 0 0 0
        }
      }
    }

    & > :last-child > .info-product-cart_option {
      padding: 0 0 0 0;
    }
  }

  &_column {
    display: flex;
    flex-direction: column;
    flex: 0 1 70%;

    &:last-child {
      flex: 0 1 30%;
      padding: 0 0 0 10px;
    }

    @media (max-width: 1005+px) {
      flex: 0 1 65%;

      &:last-child {
        flex: 0 1 35%;
      }
    }

    @media (max-width: $md4+px) {
      flex: 0 1 55%;

      &:last-child {
        flex: 0 1 45%;
      }
    }
  }

  &_header {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 10px 0;

    @media (max-width: $md3+px) {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &_options {
    display: flex;
    align-items: center;

    hr {
      flex: 1 1 auto;
      border-bottom: 1px solid rgba(74, 77, 74, 0.5);
    }
  }

  &_option {
    padding: 0 16px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    &_empty {
      height: 21px;

      @media (max-width: $md3+px) {
        height: 15px;
      }
    }

    @media (max-width: $md3+px) {
      font-size: 12px;
      line-height: 15px;
    }

    @media (max-width: $md4+px) {
      padding: 0 10px 0 0;
    }
    }
}

.products-slider {
  background-color: #F0F0FF;
  padding: 40px 0;
  flex-wrap: nowrap;

  &_color {
    background-color: #FFFFFF;
  }

  &_container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
  }

  &_arrow {
    position: absolute;
    cursor: pointer;
    background: #FFFFFF url("../images/product-cart/arrow.png") 15px center no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 50%;
    z-index: 2;
    box-shadow: $boxShadow;
    transition: all 0.3s ease 0s;

    &_left {
      left: -50px;
    }

    &_right {
      right: -50px;
      transform: rotate(180deg);
    }

    @media (max-width: 1570px) {
      top: 65%;
      opacity: 0.5;
      background: url("../images/product-cart/arrow.png") 15px center no-repeat;

      &_left {
      left: 23px;
      }

      &_right {
      right: 23px;
      }
    }

    @media (max-width: $md4+px) {

      &_left {
      left: 13px;
      }

      &_right {
      right: 13px;
      }
    }

    @media (min-width: $md2+px) {
      &:hover {
        background-color: $colorBlue;
      }
    }
  }

  &_header {
    max-width: 327px;
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 30px 0;
  }

  &_body {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &_block {
    height: 506px;
    padding: 20px 10px 20px 10px;

    @media (max-width: $md4+px) {
      height: 442px;
    }
  }

  &_stars {
    margin: 0 0 10px 0;
  }

  &_quantity {
    font-size: 14px;
    line-height: 21px;
    padding: 0 0 0 30px;
    background: url("../images/product-cart/check-mark-green.png") left no-repeat;
    margin: 0 0 20px 0;

    @media (max-width: $md4+px) {
      margin: 0 0 10px 0;
    }
  }
}