ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAF37;
  color: #fff;
  cursor: pointer;
  font-family: Rubik, sans-serif;
  border: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #001569;
  }
}
@media (max-width: 479.98px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
  }
}
.btn_grey {
  color: #4A4D4A;
  background-color: #FFFFFF;
  border: 1px solid #001569;
}
@media (min-width: 991.98px) {
  .btn_grey:hover {
    color: #000000;
    background-color: #a1a1a1;
  }
}

.border-art {
  position: relative;
}
.border-art::before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
.border-art::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
@media (max-width: 1510px) {
  .border-art::before, .border-art::after {
    display: none;
  }
}

.border-items-art {
  width: 100%;
  border: 8px solid rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art {
    border: 0;
  }
}
.border-items-art::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
  border-radius: 50%;
}
.border-items-art::after {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art::before, .border-items-art::after {
    display: none;
  }
}

.arrow-button {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrow-button::before {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 40px;
  background-color: rgb(74, 77, 74);
}
.arrow-button::before, .arrow-button::after {
  content: "";
  position: absolute;
}
.arrow-button::after {
  left: 39px;
  bottom: 4px;
  height: 10px;
  width: 10px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.pattern {
  height: 175px;
  width: 240px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
}
.pattern::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #1F347B;
  border-radius: 50%;
}
@media (max-width: 1510px) {
  .pattern {
    display: none;
  }
}

.arrow-blue {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input {
  cursor: text;
  font-size: 18px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkbox {
  position: relative;
}
.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox_input:checked + .checkbox_text:before {
  border: 2px solid #4A4D4A;
}
.checkbox_input:checked + .checkbox_text:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../images/catalog/checkbox-background.png") center no-repeat;
}
.checkbox_text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #4A4D4A;
  cursor: pointer;
}
.checkbox_text:before {
  content: "";
  align-self: flex-start;
  margin: 0 10px 0 0;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #4A4D4A;
  border-radius: 3px;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
  cursor: pointer;
}
.close:hover {
  color: #001569;
  text-decoration: none;
}

.product-cart {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  flex: 1 1 100%;
}
@media (max-width: 991.98px) {
  .product-cart {
    margin: 0 0 0 0;
  }
}
.product-cart_content {
  display: flex;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  padding: 20px 25px 25px 25px;
  margin: 0 0 30px 0;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .product-cart_content {
    padding: 10px 10px;
  }
}
.product-cart_pictures {
  flex: 0 1 45%;
}
@media (max-width: 1440px) {
  .product-cart_pictures {
    flex: 0 1 100%;
  }
}
.product-cart_image-block {
  position: relative;
  padding: 0 60px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1440px) {
  .product-cart_image-block {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 991.98px) {
  .product-cart_image-block {
    padding: 0 0 0 0;
  }
}
.product-cart_slider {
  position: relative;
  flex: 0 1 100%;
}
.product-cart_arrow {
  width: 10px;
  height: 14px;
  position: absolute;
  background: url("../images/product-cart/arrow-slider.png") center no-repeat;
  top: 35%;
  cursor: pointer;
  z-index: 2;
}
.product-cart_arrow_left {
  left: -25px;
  transform: rotate(180deg);
}
.product-cart_arrow_right {
  right: -25px;
}
.product-cart_cartridge {
  margin: 0 0 30px 0;
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .product-cart_cartridge {
    max-width: 50%;
  }
}
.product-cart_description {
  flex: 0 1 55%;
}
@media (max-width: 1440px) {
  .product-cart_description {
    flex: 0 1 100%;
  }
}
.product-cart_slider-body {
  display: flex;
  max-width: 223px;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 479.98px) {
  .product-cart_slider-body {
    max-width: 200px;
  }
}
.product-cart_slide {
  cursor: pointer;
}
.product-cart_slide img {
  max-width: 100%;
}
.description-product-cart {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}
@media (max-width: 767.98px) {
  .description-product-cart {
    padding: 0 0 0 0;
  }
}
.description-product-cart_header {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 15px 0;
}
@media (max-width: 1440px) {
  .description-product-cart_header {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .description-product-cart_header {
    font-size: 14px;
    line-height: 21px;
  }
}
.description-product-cart_parameters {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(74, 77, 74, 0.5);
  padding: 0 0 5px 0;
  margin: 0 0 25px 0;
}
.description-product-cart_parameters p {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 10px 0;
}
.description-product-cart_parameters p:last-child {
  margin: 0 0 0 0;
}
@media (max-width: 767.98px) {
  .description-product-cart_parameters {
    text-align: center;
  }
}
.description-product-cart_quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px 0;
}
.description-product-cart_count {
  font-size: 24px;
  line-height: 29px;
  color: #001569;
  margin: 0 0 15px 0;
}
.description-product-cart_counter {
  display: flex;
  width: 173px;
  height: 41px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
}
.description-product-cart_input {
  flex: 0 1 33.333%;
  border-right: 1px solid rgba(74, 77, 74, 0.5);
}
.description-product-cart_input input {
  padding: 0 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.description-product-cart_counter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 33.333%;
  border-right: 1px solid rgba(74, 77, 74, 0.5);
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .description-product-cart_counter-btn:hover {
    background-color: #001569;
    color: #FFFFFF;
  }
  .description-product-cart_counter-btn:first-child:hover {
    background-color: #001569;
    color: #FFFFFF;
    border-radius: 5px 0 0 5px;
  }
  .description-product-cart_counter-btn:last-child:hover {
    background-color: #001569;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
  }
}
.description-product-cart_counter-btn:last-child {
  border: 0;
}
.description-product-cart_buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -34px 15px -34px;
}
@media (max-width: 1440px) {
  .description-product-cart_buttons {
    margin: 0 -10px 15px -10px;
  }
}
.description-product-cart_button-column {
  display: flex;
  flex: 0 1 50%;
  padding: 0 34px;
  justify-content: flex-start;
}
.description-product-cart_button-column:last-child {
  justify-content: flex-end;
}
@media (max-width: 1440px) {
  .description-product-cart_button-column {
    padding: 0 10px;
  }
}
@media (max-width: 767.98px) {
  .description-product-cart_button-column {
    flex: 0 1 100%;
  }
}
.description-product-cart_buy {
  flex: 0 1 190px;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px solid #001569;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.description-product-cart_buy span {
  white-space: nowrap;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 0 10px 40px;
  background: url("../images/product-cart/pointer.png") left no-repeat;
}
@media (min-width: 991.98px) {
  .description-product-cart_buy:hover {
    background-color: #001569;
    color: #FFFFFF;
  }
}
@media (max-width: 767.98px) {
  .description-product-cart_buy {
    flex: 0 1 100%;
    margin: 0 0 15px 0;
  }
}
.description-product-cart_btn {
  flex: 0 1 190px;
}
@media (max-width: 767.98px) {
  .description-product-cart_btn {
    flex: 0 1 100%;
  }
}
.description-product-cart_condition {
  font-size: 10px;
  text-decoration: underline;
  font-weight: 300;
  max-width: 250px;
  margin: 0 0 30px 0;
}
@media (max-width: 767.98px) {
  .description-product-cart_condition {
    text-align: center;
    max-width: 100%;
  }
}
.description-product-cart_deliveries {
  display: flex;
  flex-direction: column;
}
.description-product-cart_delivery {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 15px 0 15px 70px;
  margin: 0 0 20px 0;
}
.description-product-cart_delivery:last-child {
  margin: 0 0 0 0;
}
.description-product-cart_delivery_office {
  background: url("../images/product-cart/office.png") left no-repeat;
}
@media (max-width: 479.98px) {
  .description-product-cart_delivery_office {
    background: url("../images/product-cart/office.png") left/35px no-repeat;
  }
}
.description-product-cart_delivery_car {
  background: url("../images/product-cart/car.png") left no-repeat;
}
@media (max-width: 479.98px) {
  .description-product-cart_delivery_car {
    background: url("../images/product-cart/car.png") left/35px no-repeat;
  }
}
@media (max-width: 479.98px) {
  .description-product-cart_delivery {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 0 10px 40px;
  }
}

.info-product-cart {
  display: flex;
  flex-direction: column;
  position: relative;
}
.info-product-cart_tabs {
  display: flex;
  margin: 0 0 15px 0;
}
.info-product-cart_tab {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 1px solid rgba(74, 77, 74, 0.5);
  padding: 14px 0;
  flex: 0 1 240px;
  cursor: pointer;
  text-align: center;
}
.info-product-cart_tab._active {
  border: 0 solid #FFAF37;
  border-top-width: 2px;
  background-color: #F0F0FF;
  color: #001569;
}
@media (max-width: 767.98px) {
  .info-product-cart_tab {
    flex: 1 1 auto;
  }
}
@media (max-width: 479.98px) {
  .info-product-cart_tab {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}
.info-product-cart_block {
  display: none;
}
.info-product-cart_block._active {
  display: block;
}
.info-product-cart_item {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
}
.info-product-cart_content {
  display: flex;
}
.info-product-cart_content_delivery {
  flex-direction: column;
}
.info-product-cart_content_delivery ul {
  padding: 0 0 0 30px;
}
.info-product-cart_content_delivery li {
  list-style-type: disc;
}
.info-product-cart_content_delivery li:first-child {
  margin: 15px 0 0 0;
}
.info-product-cart_content > :last-child > .info-product-cart_option {
  padding: 0 0 0 0;
}
.info-product-cart_column {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
}
.info-product-cart_column:last-child {
  flex: 0 1 30%;
  padding: 0 0 0 10px;
}
@media (max-width: 1005px) {
  .info-product-cart_column {
    flex: 0 1 65%;
  }
  .info-product-cart_column:last-child {
    flex: 0 1 35%;
  }
}
@media (max-width: 479.98px) {
  .info-product-cart_column {
    flex: 0 1 55%;
  }
  .info-product-cart_column:last-child {
    flex: 0 1 45%;
  }
}
.info-product-cart_header {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 10px 0;
}
@media (max-width: 767.98px) {
  .info-product-cart_header {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
.info-product-cart_options {
  display: flex;
  align-items: center;
}
.info-product-cart_options hr {
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(74, 77, 74, 0.5);
}
.info-product-cart_option {
  padding: 0 16px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.info-product-cart_option_empty {
  height: 21px;
}
@media (max-width: 767.98px) {
  .info-product-cart_option_empty {
    height: 15px;
  }
}
@media (max-width: 767.98px) {
  .info-product-cart_option {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 479.98px) {
  .info-product-cart_option {
    padding: 0 10px 0 0;
  }
}

.products-slider {
  background-color: #F0F0FF;
  padding: 40px 0;
  flex-wrap: nowrap;
}
.products-slider_color {
  background-color: #FFFFFF;
}
.products-slider_container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.products-slider_arrow {
  position: absolute;
  cursor: pointer;
  background: #FFFFFF url("../images/product-cart/arrow.png") 15px center no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  transition: all 0.3s ease 0s;
}
.products-slider_arrow_left {
  left: -50px;
}
.products-slider_arrow_right {
  right: -50px;
  transform: rotate(180deg);
}
@media (max-width: 1570px) {
  .products-slider_arrow {
    top: 65%;
    opacity: 0.5;
    background: url("../images/product-cart/arrow.png") 15px center no-repeat;
  }
  .products-slider_arrow_left {
    left: 23px;
  }
  .products-slider_arrow_right {
    right: 23px;
  }
}
@media (max-width: 479.98px) {
  .products-slider_arrow_left {
    left: 13px;
  }
  .products-slider_arrow_right {
    right: 13px;
  }
}
@media (min-width: 991.98px) {
  .products-slider_arrow:hover {
    background-color: #001569;
  }
}
.products-slider_header {
  max-width: 327px;
  font-size: 30px;
  line-height: 37px;
  margin: 0 0 30px 0;
}
.products-slider_body {
  flex-wrap: nowrap;
  overflow: hidden;
}
.products-slider_block {
  height: 506px;
  padding: 20px 10px 20px 10px;
}
@media (max-width: 479.98px) {
  .products-slider_block {
    height: 442px;
  }
}
.products-slider_stars {
  margin: 0 0 10px 0;
}
.products-slider_quantity {
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 0 30px;
  background: url("../images/product-cart/check-mark-green.png") left no-repeat;
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .products-slider_quantity {
    margin: 0 0 10px 0;
  }
}

/*# sourceMappingURL=product-cart.css.map */
