ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAF37;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  border: none;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #001569;
  }
}

.pattern {
  height: 175px;
  width: 240px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
}
.pattern::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #1F347B;
  border-radius: 50%;
}
@media (max-width: 1510px) {
  .pattern {
    display: none;
  }
}

.arrow-blue {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input {
  cursor: text;
  font-size: 18px;
  padding-left: 20px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  border: 1px solid #001569;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
}

.close:hover {
  color: #001569;
  text-decoration: none;
  cursor: pointer;
}

.toolTipOne, .toolTipTwo, .toolTipThree,
.toolTipFour, .toolTypeBavBarOne,
.toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive,
.toolTypeBavBarSix {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  text-align: left;
  color: rgb(74, 77, 74);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  z-index: 500;
  animation: fadeIn 0.4s ease-in-out;
  font-size: 12px;
  line-height: 17px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toolTipOne::after, .toolTipTwo::after,
.toolTipThree::after, .toolTipFour::after,
.toolTypeBavBarOne::after, .toolTypeBavBarTwo::after,
.toolTypeBavBarThree::after, .toolTypeBavBarFour::after,
.toolTypeBavBarFive::after, .toolTypeBavBarSix::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #fff transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.boldText {
  font-weight: 700;
}

.toolTipOne, .toolTipTwo, .toolTipThree, .toolTipFour {
  top: 43px;
  left: 0;
}

.toolTipOne {
  height: 120px;
  width: 240px;
  padding-left: 5px;
}

.toolTipTwo {
  height: 120px;
  width: 346px;
  padding-left: 15px;
}

.toolTipThree {
  height: 120px;
  width: 369px;
  padding-left: 12px;
}

.toolTipFour {
  height: 120px;
  width: 106px;
  text-align: center;
  padding-left: 7px;
}

.toolTypeBavBarOne, .toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive, .toolTypeBavBarSix {
  top: 43px;
  left: 0px;
  text-align: left;
  padding: 2px;
}

.toolTypeBavBarOne {
  height: 120px;
  width: 177px;
}

.toolTypeBavBarTwo {
  height: 120px;
  width: 185px;
}

.toolTypeBavBarThree {
  height: 120px;
  width: 78px;
}

.toolTypeBavBarFour {
  height: 120px;
  width: 167px;
}

.toolTypeBavBarFive {
  height: 120px;
  width: 116px;
}

.toolTypeBavBarSix {
  height: 120px;
  width: 95px;
}

html, body {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: rgb(74, 77, 74);
  overflow: visible;
  height: 100%;
}

.circle, .circleTwoBanners, .circleAfterManyPicturesBanner,
.circleAfterTwoFooter, .circleBannerBeforeLastFooter {
  height: 24px;
  width: 24px;
  position: absolute;
  background-color: #1F347B;
  border-radius: 50%;
}

.circle {
  top: 430px;
  left: 939px;
  padding-bottom: 10px;
}

.circleTwoBanners {
  top: 138px;
  left: -42px;
}

.circleAfterManyPicturesBanner {
  top: 247px;
  left: 1424px;
}

.circleAfterTwoFooter {
  left: 143px;
  bottom: 171px;
  background-color: rgba(31, 52, 123, 0.2);
}

.circleBannerBeforeLastFooter {
  top: -9px;
  left: 147px;
  background-color: rgba(31, 52, 123, 0.2);
}

.arrowLeftManyPictures {
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrowLeftManyPictures::before {
  background-color: rgb(74, 77, 74);
  height: 2px;
  width: 40px;
  top: 58px;
  left: 117px;
}
.arrowLeftManyPictures::before, .arrowLeftManyPictures::after {
  content: "";
  position: absolute;
}
.arrowLeftManyPictures::after {
  height: 10px;
  width: 10px;
  top: 54px;
  left: 147px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.checkBoxAndSpan {
  height: 30px;
  width: 205px;
  display: flex;
  justify-content: space-between;
}
.checkBoxAndSpan .checkMarkBlock {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(74, 77, 74);
}
.checkBoxAndSpan .checkMarkBlock .checkMark {
  height: 15px;
  width: 15px;
}
.checkBoxAndSpan .spanAfterCheckMark {
  cursor: text;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.checkBoxAndSpan .spanAfterCheckMark:hover {
  text-decoration: underline;
}

.page {
  flex: 1 1 auto;
}
.page_bar-navigate {
  margin: 0 0 50px 0;
}
.page_container {
  max-height: 1584px;
  height: 100%;
}
@media (min-width: 991.98px) {
  .page_container {
    display: flex;
    max-height: 742px;
  }
}
.page_main-content {
  margin: 0 0 100px 0;
}
.page_side {
  z-index: 10;
  margin: 0 0 50px 0;
  flex: 0 0 448px;
}
.page_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 40px;
  max-height: 742px;
}
@media (max-width: 991.98px) {
  .page_content {
    margin: 0 0 0 0;
  }
}
.page_collage {
  margin: 0 0 130px 0;
}
.page_banners {
  margin: 0 0 100px 0;
}
.navigate-bar {
  width: 100%;
  min-height: 60px;
  background-color: #F0F0FF;
}
.navigate-bar_list {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 430px) {
  .navigate-bar_list {
    flex-direction: column;
    justify-content: center;
  }
}
.navigate-bar_option {
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 20px 20px 20px 20px;
}
.navigate-bar_option:first-child {
  padding: 20px 20px 20px 0;
}
.navigate-bar_option:last-child {
  padding: 20px 0 20px 20px;
}
.navigate-bar_option:hover {
  color: #FFAF37;
}
@media (max-width: 991.98px) {
  .navigate-bar_option:first-child {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .navigate-bar_option:nth-child(2) {
    display: none;
  }
}
@media (max-width: 430px) {
  .navigate-bar_option:first-child, .navigate-bar_option:nth-child(2) {
    display: block;
  }
}
.navigate-bar_option a {
  font-size: 18px;
  position: relative;
}
@media (max-width: 1340px) {
  .navigate-bar_option a {
    font-size: 14px;
  }
}
.navigate-bar_option a::after {
  background-image: linear-gradient(to right, black 60%, transparent 0);
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  content: "";
  height: 2px;
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.navigate-bar_option a:hover:after {
  background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}
@media (max-width: 430px) {
  .navigate-bar_option a::after {
    display: none;
  }
}

.menu-page {
  display: flex;
  flex-direction: column;
}
.menu-page_header {
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background: #F0F0FF;
  padding: 0 0 0 25px;
}
.menu-page_header span {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.menu-page_body {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
.menu-page_item {
  display: flex;
  align-items: center;
  padding: 11px 0 11px 0;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  .menu-page_item:hover {
    background-color: #FFAF37;
    color: #FFFFFF;
  }
}
.menu-page_item img {
  padding: 0 0 0 20px;
}
@media (max-width: 479.98px) {
  .menu-page_item img {
    padding: 0 0 0 10px;
  }
}
.menu-page_item span {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin: 0 0 0 15px;
}
@media (max-width: 479.98px) {
  .menu-page_item span {
    font-size: 13px;
    margin: 0 0 0 10px;
  }
}
.menu-page_arrow {
  margin-right: 15px;
  height: 9px;
  width: 9px;
}

.header-page {
  margin: 0 0 10px 0;
}
@media (max-width: 991.98px) {
  .header-page_content {
    text-align: center;
  }
}
.header-page span {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}
@media (max-width: 1462px) {
  .header-page span {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1110px) {
  .header-page span {
    font-size: 24px;
    line-height: 29px;
    font-family: Rubik, sans-serif;
  }
}
.header-page span span {
  font-family: Rubik, sans-serif;
}
.header-page span span span {
  color: #FFAF37;
}

.slider-page {
  height: 590px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background: url("../images/hat/mainBannerImage.png") 0 0 no-repeat;
  background-size: cover;
  animation: fadeIn 0.5s ease-in-out;
  transition: background-image 0.5s;
}
.slider-page_pattern {
  right: -30px;
  bottom: -30px;
  transform: rotate(-180deg);
}
.slider-page_pattern::after {
  bottom: -20px;
  left: -15px;
}
.slider-page_text {
  width: 100%;
  min-height: 116px;
  position: absolute;
  top: 23%;
  left: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 12% 0 0;
}
@media (max-width: 991.98px) {
  .slider-page_text {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
}
.slider-page_text-block {
  min-height: 116px;
  max-width: 422px;
  text-align: center;
}
.slider-page_text-block span {
  font-size: 30px;
  color: #fff;
  font-weight: 550;
  line-height: 37px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .slider-page_text-block span {
    line-height: 24px;
    font-size: 20px;
    top: 30%;
  }
}
@media (max-width: 590px) {
  .slider-page_text-block {
    right: 0;
  }
}
.slider-page_offer {
  position: absolute;
  top: 60%;
  right: 16%;
  display: inline-flex;
  padding: 24px 43px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .slider-page_offer {
    top: 65%;
    right: 0;
    width: 100%;
    display: flex;
    padding: 20px 40px;
  }
}
.slider-page_arrow-buttons {
  height: 50px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  padding: 0 20px;
}
.slider-page_arrow-button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;
  display: none;
  animation: fadeIn 0.5s ease 0s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-page_arrow-button:first-child {
  transform: rotate(-180deg);
}
@media (min-width: 991.98px) {
  .slider-page_arrow-button:hover {
    background-color: #FFAF37;
  }
}
.slider-page_arrow-button .arrow-blue {
  width: 18px;
  height: 18px;
  right: 20px;
  border-top: 5px solid #001569;
  border-left: 5px solid #001569;
}
.slider-page .bannerButtonCommon {
  cursor: pointer;
  transition: background-color 0.5s;
  padding: 20px;
}
.slider-page .bannerButtonCommon .buttonBannerLeft {
  margin-left: 5px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-page .bannerButtonCommon .buttonBannerRight {
  display: none;
  margin-left: 812px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-page_pagination {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0;
  height: 40px;
}
@media (max-width: 479.98px) {
  .slider-page_pagination {
    bottom: 20px;
  }
}
.slider-page_pagination-container {
  width: 152px;
  height: 20px;
  display: inline-flex;
  justify-content: space-between;
  top: 93%;
  right: 40%;
}
.slider-page_circle {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .slider-page_circle:hover {
    background-color: #FFAF37;
  }
}
.slider-page_circle._active {
  background-color: #FFAF37;
}

.buttons-side {
  height: 271px;
  width: 90px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  position: fixed;
  right: 0;
  top: 400px;
  cursor: pointer;
  z-index: 1000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 1700px) {
  .buttons-side {
    display: none;
  }
}
.buttons-side_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.buttons-side_list li {
  flex: 0 0 33.333%;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.buttons-side_item {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #1F347B;
  transition: all 0.3s ease 0s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.buttons-side_item_cart {
  border-top-left-radius: 10px;
  background: url("../images/sideMenuButtons/basket.png") center no-repeat;
}
.buttons-side_item_heart {
  background: url("../images/sideMenuButtons/heart.png") center no-repeat;
}
.buttons-side_item_columns {
  border: 0;
  background: url("../images/sideMenuButtons/columns.png") center no-repeat;
}
.buttons-side_item._active {
  background-color: #1F347B;
}

.afterNavBarBannerAndSpan {
  margin-left: 42px;
}
.afterNavBarBannerAndSpan .productMenu {
  max-width: 922px;
  width: 100%;
  max-height: 736px;
  height: 100%;
  display: none;
  position: relative;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  animation: fadeIn 0.9s ease-in-out;
}
@media (max-width: 1426px) {
  .afterNavBarBannerAndSpan .productMenu {
    max-height: 1567px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBarBannerAndSpan .productMenuBlock {
  display: none;
  height: 320px;
  width: 210px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border: 0.4px solid #4A4D4A;
  border-radius: 4px;
  transition: background-color 0.5s;
  font-size: 14px;
  text-align: center;
  margin-bottom: 96px;
}
.afterNavBarBannerAndSpan .oneProduct:hover, .afterNavBarBannerAndSpan .twoProduct:hover,
.afterNavBarBannerAndSpan .threeProduct:hover, .afterNavBarBannerAndSpan .fourProduct:hover {
  background-color: #cec9c9;
}
.afterNavBarBannerAndSpan .oneProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .oneProduct .pmPhoneMain {
  height: 116px;
  width: 45px;
  margin-top: 45px;
}
.afterNavBarBannerAndSpan .oneProduct .oneProductSpan {
  margin-top: 22px;
}
.afterNavBarBannerAndSpan .twoProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .twoProduct .pmTabletMain {
  height: 118px;
  width: 81px;
  margin-top: 45px;
}
.afterNavBarBannerAndSpan .twoProduct .twoProductSpan {
  margin-top: 20px;
}
.afterNavBarBannerAndSpan .threeProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .threeProduct .pmPodsMain {
  height: 117px;
  width: 93px;
  margin-top: 48px;
}
.afterNavBarBannerAndSpan .threeProduct .threeProductSpan {
  margin-top: 18px;
}
.afterNavBarBannerAndSpan .fourProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .fourProduct .pmCaseMain {
  height: 117px;
  width: 93px;
  margin-top: 48px;
}
.afterNavBarBannerAndSpan .fourProduct .fourProductSpan {
  margin-top: 18px;
}
.afterNavBarBannerAndSpan .fiveProduct, .afterNavBarBannerAndSpan .sixProduct, .afterNavBarBannerAndSpan .sevenProduct, .afterNavBarBannerAndSpan .eightProduct {
  display: flex;
  justify-content: space-between;
}
.afterNavBarBannerAndSpan .pmPhone {
  height: 94px;
  width: 59px;
  margin-top: 8px;
}
.afterNavBarBannerAndSpan .pmPods {
  margin-top: 16px;
}
.afterNavBarBannerAndSpan .pmClock {
  margin-top: 9px;
}
.afterNavBarBannerAndSpan .pmTablet {
  margin-top: 9px;
}
.afterNavBarBannerAndSpan .productBlockSpanOne {
  margin-top: 12px;
  font-weight: 600;
  color: black;
  line-height: 17px;
}
.afterNavBarBannerAndSpan .fiveProductSpanOneTwo {
  margin-top: 4px;
}
.afterNavBarBannerAndSpan .productBlockSpanTwo {
  font-weight: 300;
  line-height: 21px;
}
.afterNavBarBannerAndSpan .sevenProductSpanOneTwo {
  margin-top: 11px;
}
.afterNavBarBannerAndSpan .productBlockSpanThree {
  font-weight: 400;
  line-height: 21px;
  color: black;
}
.afterNavBarBannerAndSpan .productBlockSpanFour {
  color: #001569;
  font-size: 24px;
  line-height: 29px;
}
.afterNavBarBannerAndSpan .inBasket {
  height: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-bottom: 14px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct {
  height: 20px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 350px;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  color: #4A4D4A;
  font-size: 14px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductOneSpan {
  cursor: pointer;
  transition: color 0.5s;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductSpan {
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  transition: color 0.5s;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductSpan:hover, .afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductOneSpan:hover {
  color: #FFAF37;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenOne, .afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenTwo, .afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenThree {
  height: 8px;
  width: 8px;
  position: absolute;
  margin-right: 15px;
  cursor: pointer;
  border-top: 1px solid #4A4D4A;
  border-left: 1px solid #4A4D4A;
  transform: rotate(-135deg);
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenOne {
  top: 3px;
  left: 127px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenTwo {
  top: 3px;
  left: 258px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenThree {
  top: 3px;
  left: 357px;
}

.collage-page_columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.collage-page_column {
  flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 15px 0;
}
@media (max-width: 1410px) {
  .collage-page_column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 1068px) {
  .collage-page_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 728px) {
  .collage-page_column {
    flex: 0 1 100%;
  }
}
.collage-page_column_big-block {
  flex: 0 1 50%;
}
@media (max-width: 1410px) {
  .collage-page_column_big-block {
    display: none;
  }
}
.collage-page_block {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  height: 250px;
  background-color: #FFFFFF;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  flex-direction: column;
}
@media (max-width: 479.98px) {
  .collage-page_block {
    height: 200px;
  }
}
.collage-page_block img {
  margin: 0 0 15px 0;
}
@media (max-width: 479.98px) {
  .collage-page_block img {
    margin: 0 0 7px 0;
  }
}
.collage-page_block_first {
  background-color: #F0F0FF;
}
.collage-page_block_first p {
  padding: 0 40px;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  text-align: center;
}
@media (max-width: 479.98px) {
  .collage-page_block_first p {
    font-size: 20px;
    line-height: 24px;
  }
}
.collage-page_header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 15px 0;
  white-space: nowrap;
}
@media (max-width: 479.98px) {
  .collage-page_header {
    font-size: 18px;
    line-height: 22px;
  }
}
.collage-page_content {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.collage-page_content_bold {
  font-weight: 500;
}
@media (max-width: 479.98px) {
  .collage-page_content_bold {
    font-weight: 400;
  }
}
@media (max-width: 479.98px) {
  .collage-page_content {
    font-size: 16px;
    line-height: 20px;
  }
}
.collage-page_many-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banners-page_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.banners-page_column {
  flex: 0 1 50%;
  padding: 0 15px 0 0;
}
.banners-page_column:last-child {
  padding: 0 0 0 15px;
}
@media (max-width: 991.98px) {
  .banners-page_column {
    flex: 0 1 100%;
    padding: 15px 0;
  }
  .banners-page_column:last-child {
    padding: 15px 0;
  }
}
.banners-page_banner {
  position: relative;
  background-color: #F0F0FF;
  height: 400px;
  padding: 30px 45px 0 15px;
}
.banners-page_banner_color {
  background-color: #E3E1FF;
}
@media (max-width: 670px) {
  .banners-page_banner {
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 0;
  }
}
.banners-page_images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 323px;
}
.banners-page_images img {
  align-self: flex-start;
  max-width: 100%;
}
@media (max-width: 1340px) and (min-width: 991.98px) {
  .banners-page_images img {
    max-width: 80%;
  }
}
@media (max-width: 670px) {
  .banners-page_images img {
    max-width: 160px;
    padding: 0 0 0 20px;
  }
}
@media (max-width: 670px) {
  .banners-page_images {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10px 0 0;
  }
}
.banners-page_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  position: absolute;
  right: 0;
  top: 25%;
  padding: 0 45px 0 0;
  max-width: 536px;
  max-height: 239px;
  height: 100%;
}
@media (max-width: 1340px) {
  .banners-page_content {
    padding: 0 15px 0 0;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_content a {
    font-size: 16px;
  }
}
@media (max-width: 670px) {
  .banners-page_content a {
    display: flex;
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 670px) {
  .banners-page_content {
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }
}
.banners-page_content-last-banner {
  max-width: 268px;
}
@media (max-width: 670px) {
  .banners-page_content-last-banner {
    max-width: 100%;
  }
}
.banners-page_header {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 30px 0;
  padding: 0 0 0 10px;
}
@media (max-width: 670px) {
  .banners-page_header {
    font-size: 18px;
    line-height: 22px;
    padding: 0 5px;
  }
}
.banners-page_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 20px 0;
  max-width: 300px;
}
@media (max-width: 1340px) and (min-width: 991.98px) {
  .banners-page_description {
    max-width: 268px;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_description {
    max-width: 200px;
  }
}
@media (max-width: 670px) {
  .banners-page_description {
    font-size: 16px;
    line-height: 20px;
    padding: 0 4px;
  }
}
.banners-page_button {
  display: inline-flex;
  padding: 20px;
  max-width: 300px;
}
@media (max-width: 1340px) {
  .banners-page_button {
    max-width: 268px;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_button {
    max-width: 200px;
  }
}
.banners-page_pattern {
  left: -30px;
  top: -30px;
}
.banners-page_pattern::after {
  right: -5px;
  top: -15px;
}

.customers-page {
  background-color: #F0F0FF;
  max-height: 300px;
  padding: 30px 0;
}
.customers-page_container {
  display: flex;
  flex-direction: column;
}
.customers-page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
}
.customers-page_header span {
  padding: 0 25px 0 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
}
.customers-page_header a {
  display: flex;
  align-items: center;
  height: 60px;
  border: 2px solid #FFAF37;
  padding: 25px 80px 25px 25px;
}
.customers-page_header a span {
  white-space: nowrap;
  font-size: 18px;
  line-height: 21px;
}
.customers-page_brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers-page_brand {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.customers-page_brand span {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
.customers-page_brand img {
  max-width: 100%;
}

.bannerManyPictures {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 804px;
  max-width: 1410px;
  margin: 100px auto 100px auto;
  grid-column-gap: 2.12%;
  grid-row-gap: 3.73%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1280px) {
  .bannerManyPictures {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    max-height: 1262px;
    margin: 100px auto 300px auto;
  }
}
.bannerManyPictures .oneBannerManyPictures, .bannerManyPictures .bannersManyPicturesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  max-height: 248px;
  max-width: 330px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  transition: color 0.5s;
  cursor: pointer;
}
.bannerManyPictures .oneBannerManyPictures:hover, .bannerManyPictures .bannersManyPicturesContainer:hover {
  color: #001569;
}
.bannerManyPictures .commonImageBannerManyPictures {
  width: 55%;
}
.bannerManyPictures .oneBannerManyPictures {
  grid-area: 1/1/1/1;
  background-color: #F0F0FF;
}
.bannerManyPictures .oneBannerManyPictures .oneBannerManyPicturesSpan {
  text-align: center;
  font-size: 30px;
  line-height: 37px;
}
.bannerManyPictures .twoBannerManyPicturesTwoSpan, .bannerManyPictures .eightBannerManyPicturesTwoSpan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 92%;
}
.bannerManyPictures .arrowBannerManyPictures {
  position: absolute;
  top: 62%;
  left: 48%;
}
.bannerManyPictures .eightImageBannerManyPictures {
  width: 67%;
  position: absolute;
  top: 5px;
}
.bannerManyPictures .elevenImageBannerManyPictures {
  height: 126px;
  width: 195px;
  top: 5px;
}
.bannerManyPictures .eightBannerManyPicturesTwoSpan {
  margin-top: 165px;
}
.bannerManyPictures .spanElevenBannerManyPictures {
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}
.bannerManyPictures #showAllOffer {
  height: 70px;
  width: 283px;
  font-size: 14px;
}

.twoBannersAfterManyPicturesBanner {
  height: 402px;
  width: 1408px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 100px auto auto auto;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner, .twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner {
  height: 402px;
  width: 690px;
  display: flex;
  position: relative;
}
.twoBannersAfterManyPicturesBanner .smallOneAfterManyPicturesBanner, .twoBannersAfterManyPicturesBanner .smallTwoAfterManyPicturesBanner {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 30px;
  left: 15px;
}
.twoBannersAfterManyPicturesBanner .oneSpanAfterManyPictures, .twoBannersAfterManyPicturesBanner .fourSpanAfterManyPictures {
  text-align: right;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBlock, .twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner {
  background-color: #F0F0FF;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .bigOneAfterManyPicturesBanner {
  height: 228px;
  width: 273px;
  position: absolute;
  top: 180px;
  z-index: 100;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .oneAfterManyPicturesBlock {
  height: 227px;
  width: 520px;
  margin: 100px 35px auto auto;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .oneSpanAfterManyPictures {
  height: 84px;
  width: 520px;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner .twoSpanAfterManyPictures {
  height: 42px;
  width: 464px;
}
.twoBannersAfterManyPicturesBanner .oneAfterManyPicturesBanner #oneButtonAfterManyPicturesBanner {
  height: 65px;
  width: 348px;
  text-transform: uppercase;
}
.twoBannersAfterManyPicturesBanner .twoSpanAfterManyPictures, .twoBannersAfterManyPicturesBanner .fiveSpanAfterManyPictures {
  text-align: right;
  margin-bottom: 20px;
  font-weight: 400;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner {
  background-color: #E3E1FF;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .fiveSpanAfterManyPictures {
  height: 63px;
  width: 263px;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner #twoButtonAfterManyPicturesBanner {
  height: 69px;
  width: 268px;
  text-transform: uppercase;
  z-index: 100;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .bigTwoAfterManyPicturesBanner {
  height: 254px;
  width: 330px;
  position: absolute;
  top: 137px;
  left: 5px;
  z-index: 100;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .twoAfterManyPicturesBlock {
  height: 220px;
  width: 311px;
  margin: 100px 35px auto auto;
}
.twoBannersAfterManyPicturesBanner .twoAfterManyPicturesBanner .fourSpanAfterManyPictures {
  height: 52px;
  width: 311px;
}
.twoBannersAfterManyPicturesBanner .leftAfterManyPicturesBanner {
  height: 175px;
  width: 240px;
  top: 260px;
  left: 1200px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
  transform: rotate(-180deg);
}
.twoBannersAfterManyPicturesBanner .circleAfterManyPicturesBanner {
  top: 247px;
  left: 1424px;
}

.twoFooter {
  height: 300px;
  width: 100%;
  margin: 100px auto auto auto;
  background-color: #F0F0FF;
}
.twoFooter .twoFooterBlockAndImage {
  height: 260px;
  width: 1225px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: auto;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock {
  height: 199px;
  width: 487px;
  margin: 55px 240px auto auto;
  left: 100px;
  align-items: flex-start;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterOneSpan {
  height: 60px;
  width: 487px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterTwoSpan {
  height: 42px;
  width: 343px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterButton {
  height: 61px;
  width: 450px;
  display: flex;
  align-items: center;
  border: 2px solid #FFAF37;
  background-color: #F0F0FF;
  color: rgb(74, 77, 74);
  transition: background-color 0.5s, color 0.5s;
  padding-left: 20px;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .twoFooterButton:hover {
  background-color: #001569;
  color: #fff;
}
.twoFooter .twoFooterBlockAndImage .twoFooterBlock .arrowTwoFooter {
  top: 166px;
  left: 310px;
  position: absolute;
}
.twoFooter .twoFooterBlockAndImage .twoFooterImage {
  height: 251px;
  width: 464px;
  margin-top: 25px;
}

.bannerAfterTwoFooter {
  height: 334px;
  width: 1410px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px auto auto auto;
  border-bottom: 8px solid rgba(31, 52, 123, 0.2);
  border-left: 8px solid rgba(31, 52, 123, 0.2);
  box-sizing: border-box;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock {
  height: 270px;
  width: 1330px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterSpan {
  height: 74px;
  width: 680px;
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 146px;
  width: 1326px;
  margin: auto auto 20px auto;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterOne {
  height: 146px;
  width: 150px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterTwo {
  height: 80px;
  width: 200px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterThree {
  height: 138px;
  width: 200px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterFour {
  height: 133px;
  width: 200px;
}
.bannerAfterTwoFooter .bannerAfterTwoFooterBlock .bannerAfterTwoFooterDiv .bannerAfterTwoFooterFive {
  height: 112px;
  width: 200px;
}
.bannerAfterTwoFooter .leftAndRightMainAfterTwoFooter {
  display: flex;
  position: absolute;
  margin: 45px 0 0 710px;
}
.bannerAfterTwoFooter .leftAndRightMainAfterTwoFooter .leftMainAfterTwoFooter {
  height: 110px;
  width: 240px;
  position: absolute;
  left: 171px;
  bottom: -75px;
  border-top: 8px solid rgba(31, 52, 123, 0.2);
  border-left: 8px solid rgba(31, 52, 123, 0.2);
  transform: rotate(-270deg);
}
.bannerAfterTwoFooter .leftAndRightMainAfterTwoFooter .leftMainAfterTwoFooterAfter {
  height: 1200px;
  width: 240px;
  top: -666px;
  left: -576px;
  position: absolute;
  border-left: 8px solid rgba(31, 52, 123, 0.2);
  transform: rotate(90deg);
}

.twoBannerAfterTwoFooter {
  height: 660px;
  width: 1405px;
  margin: 100px auto auto auto;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterSpanBlock {
  height: 84px;
  width: 1146px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 33px auto;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterSpanBlock .twoBannerAfterTwoFooterOneSpan {
  font-size: 36px;
  line-height: 30px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterSpanBlock .twoBannerAfterTwoFooterTwoSpan {
  padding-top: 10px;
  font-size: 24px;
  line-height: 42px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain {
  height: 546px;
  width: 1405px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .mainPicture {
  height: 471px;
  width: 774px;
  margin: 75px 0 0 90px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage {
  height: 461px;
  width: 331px;
  margin: 42px 115px 0 0;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage .twoBannerAfterTwoFooterField {
  height: 80px;
  width: 330px;
  width: 330px;
  height: 80px;
  margin-bottom: 30px;
}
.twoBannerAfterTwoFooter .twoBannerAfterTwoFooterBlockMain .twoBannerAfterTwoFooterBlockAfterImage #getConsultation {
  height: 80px;
  width: 330px;
  text-transform: uppercase;
  width: 330px;
  height: 80px;
  margin-bottom: 20px;
}

.bannerBeforeLastFooter {
  height: 608px;
  width: 1408px;
  display: flex;
  position: relative;
  margin: 100px auto auto auto;
  border-right: 8px solid rgba(31, 52, 123, 0.2);
  border-bottom: 8px solid rgba(31, 52, 123, 0.2);
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage {
  height: 514px;
  width: 1188px;
  margin: auto;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterSpanImage {
  height: 74px;
  width: 579px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin: 0 auto auto auto;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock {
  height: 428px;
  width: 1188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock {
  height: 274px;
  width: 459px;
  font-size: 20px;
  margin-top: 86px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  flex-grow: 1;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newGeo {
  height: 40px;
  width: 30px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newPhone, .bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .clock {
  width: 30px;
  height: 30px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .clock {
  margin-bottom: 8px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newSMS {
  width: 30px;
  height: 22px;
  margin-bottom: 8px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .newWhatsApp {
  width: 26px;
  height: 26px;
  margin-bottom: 8px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .beforeLastFooterSpanColumnBlock .oneBeforeLastFooterSpanColumnBlock .bannerBeforeLastFooterSpan {
  margin: 0 0 10px 10px;
}
.bannerBeforeLastFooter .beforeLastFooterSpanAndImage .beforeLastFooterUnderSpanBlock .maps {
  height: 423px;
  width: 553px;
  background: url("../images/bannerBeforeLastFooter/maps.png");
  background-size: center/cover;
}
.bannerBeforeLastFooter .lineBorderLeftBannerBeforeLastFooter,
.bannerBeforeLastFooter .lineBorderTopBannerBeforeLastFooter {
  position: absolute;
  border-top: 8px solid rgba(31, 52, 123, 0.2);
}
.bannerBeforeLastFooter .lineBorderLeftBannerBeforeLastFooter {
  height: 430px;
  width: 120px;
  top: 170px;
  border-left: 8px solid rgba(31, 52, 123, 0.2);
}
.bannerBeforeLastFooter .lineBorderTopBannerBeforeLastFooter {
  height: 10px;
  width: 1230px;
  left: 170px;
}

.lastFooter {
  height: 343px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  background-color: #F0F0FF;
}
.lastFooter .lastFooterMainBlock {
  height: 267px;
  width: 1408px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock, .lastFooter .lastFooterMainBlock .lastFooterTwoBlock,
.lastFooter .lastFooterMainBlock .lastFooterThreeBlock, .lastFooter .lastFooterMainBlock .lastFooterFourBlock,
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock, .lastFooter .lastFooterMainBlock .lastFooterSixBlock {
  justify-content: space-between;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock {
  height: 222px;
  width: 209px;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock .cbsFooter {
  height: 94px;
  width: 209px;
}
.lastFooter .lastFooterMainBlock .lastFooterOneBlock .lastFooterOneSpan {
  height: 103px;
  width: 209px;
  line-height: 21px;
}
.lastFooter .lastFooterMainBlock .lastFooterTwoBlock {
  height: 212px;
  width: 247px;
}
.lastFooter .lastFooterMainBlock .lastFooterBlockBigSpan {
  line-height: 21px;
  font-weight: 700;
}
.lastFooter .lastFooterMainBlock .lastFooterBlockSmallSpan {
  font-size: 14px;
  line-height: 17px;
}
.lastFooter .lastFooterMainBlock .lastFooterThreeBlock {
  height: 176px;
  width: 167px;
}
.lastFooter .lastFooterMainBlock .lastFooterFourBlock {
  height: 212px;
  width: 155px;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock {
  height: 220px;
  width: 31px;
  align-items: center;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock .ig, .lastFooter .lastFooterMainBlock .lastFooterFiveBlock .goldWhatsApp, .lastFooter .lastFooterMainBlock .lastFooterFiveBlock .human {
  height: 30px;
  width: 30px;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock .faceB {
  height: 41px;
  width: 20px;
}
.lastFooter .lastFooterMainBlock .lastFooterFiveBlock .vk {
  height: 17px;
  width: 30px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock {
  height: 168px;
  width: 185px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageOne, .lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageTwo,
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageOne {
  height: 22px;
  width: 185px;
  font-family: Montserrat, sans-serif;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageOne .lastPhone {
  height: 19px;
  width: 18px;
  width: 18px;
  height: 19px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageTwo {
  height: 21px;
  width: 162px;
  margin-left: -3px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageTwo .lastSMS {
  height: 18px;
  width: 24px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree {
  height: 50px;
  width: 185px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastGeo {
  height: 27px;
  width: 20px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan {
  height: 50px;
  width: 146px;
  text-align: center;
  margin-right: 8px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan .lastFooterTwoSpanOne {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 29px;
  font-size: 20px;
}
.lastFooter .lastFooterMainBlock .lastFooterSixBlock .lastFooterSixBlockSpanImageThree .lastFooterTwoSpan .lastFooterTwoSpanTwo {
  font-family: Montserrat, sans-serif;
  line-height: 23px;
  font-size: 16px;
}
.lastFooter .lastFooterMainBlock .visa {
  height: 60px;
  width: 197px;
  position: absolute;
  top: 251px;
  margin-left: 1226px;
}

/*# sourceMappingURL=style.css.map */
