ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 14px;
}

a.text {
  text-decoration: none;
}

input:focus, select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._limit_container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  ._limit_container {
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #FFAF37;
  color: #fff;
  cursor: pointer;
  font-family: Rubik, sans-serif;
  border: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #001569;
  }
}
@media (max-width: 479.98px) {
  .btn {
    font-size: 16px;
    line-height: 20px;
  }
}
.btn_grey {
  color: #4A4D4A;
  background-color: #FFFFFF;
  border: 1px solid #001569;
}
@media (min-width: 991.98px) {
  .btn_grey:hover {
    color: #000000;
    background-color: #a1a1a1;
  }
}

.border-art {
  position: relative;
}
.border-art::before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
.border-art::after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
}
@media (max-width: 1510px) {
  .border-art::before, .border-art::after {
    display: none;
  }
}

.border-items-art {
  width: 100%;
  border: 8px solid rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art {
    border: 0;
  }
}
.border-items-art::before {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
  border-radius: 50%;
}
.border-items-art::after {
  content: "";
  position: absolute;
  background-color: rgba(31, 52, 123, 0.2);
}
@media (max-width: 1510px) {
  .border-items-art::before, .border-items-art::after {
    display: none;
  }
}

.arrow-button {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-flex;
  cursor: pointer;
}
.arrow-button::before {
  top: 50%;
  left: 50%;
  height: 2px;
  width: 40px;
  background-color: rgb(74, 77, 74);
}
.arrow-button::before, .arrow-button::after {
  content: "";
  position: absolute;
}
.arrow-button::after {
  left: 39px;
  bottom: 4px;
  height: 10px;
  width: 10px;
  border-top: 2px solid rgb(74, 77, 74);
  border-left: 2px solid rgb(74, 77, 74);
  transform: rotate(-225deg);
}

.pattern {
  height: 175px;
  width: 240px;
  position: absolute;
  border-top: 8px solid #1F347B;
  border-left: 8px solid #1F347B;
}
.pattern::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #1F347B;
  border-radius: 50%;
}
@media (max-width: 1510px) {
  .pattern {
    display: none;
  }
}

.arrow-blue {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-top: 3px solid rgba(0, 21, 105, 0.6);
  border-left: 3px solid rgba(0, 21, 105, 0.6);
  transform: rotate(-225deg);
  transition: border-top-color 0.5s, border-left-color 0.5s, transform 0.3s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input {
  cursor: text;
  font-size: 18px;
  color: rgb(74, 77, 74);
  font-family: Rubik, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkbox {
  position: relative;
}
.checkbox_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox_input:checked + .checkbox_text:before {
  border: 2px solid #4A4D4A;
}
.checkbox_input:checked + .checkbox_text:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url("../images/catalog/checkbox-background.png") center no-repeat;
}
.checkbox_text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: #4A4D4A;
  cursor: pointer;
}
.checkbox_text:before {
  content: "";
  align-self: flex-start;
  margin: 0 10px 0 0;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #4A4D4A;
  border-radius: 3px;
}

.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  transition: color 0.5s;
}

.close:hover {
  color: #001569;
  text-decoration: none;
  cursor: pointer;
}

.toolTipOne, .toolTipTwo, .toolTipThree,
.toolTipFour, .toolTypeBavBarOne,
.toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive,
.toolTypeBavBarSix {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  text-align: left;
  color: rgb(74, 77, 74);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  z-index: 500;
  animation: fadeIn 0.4s ease-in-out;
  font-size: 12px;
  line-height: 17px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toolTipOne::after, .toolTipTwo::after,
.toolTipThree::after, .toolTipFour::after,
.toolTypeBavBarOne::after, .toolTypeBavBarTwo::after,
.toolTypeBavBarThree::after, .toolTypeBavBarFour::after,
.toolTypeBavBarFive::after, .toolTypeBavBarSix::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #fff transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.boldText {
  font-weight: 700;
}

.toolTipOne, .toolTipTwo, .toolTipThree, .toolTipFour {
  top: 43px;
  left: 0;
}

.toolTipOne {
  height: 120px;
  width: 240px;
  padding-left: 5px;
}

.toolTipTwo {
  height: 120px;
  width: 346px;
  padding-left: 15px;
}

.toolTipThree {
  height: 120px;
  width: 369px;
  padding-left: 12px;
}

.toolTipFour {
  height: 120px;
  width: 106px;
  text-align: center;
  padding-left: 7px;
}

.toolTypeBavBarOne, .toolTypeBavBarTwo, .toolTypeBavBarThree,
.toolTypeBavBarFour, .toolTypeBavBarFive, .toolTypeBavBarSix {
  top: 43px;
  left: 0px;
  text-align: left;
  padding: 2px;
}

.toolTypeBavBarOne {
  height: 120px;
  width: 177px;
}

.toolTypeBavBarTwo {
  height: 120px;
  width: 185px;
}

.toolTypeBavBarThree {
  height: 120px;
  width: 78px;
}

.toolTypeBavBarFour {
  height: 120px;
  width: 167px;
}

.toolTypeBavBarFive {
  height: 120px;
  width: 116px;
}

.toolTypeBavBarSix {
  height: 120px;
  width: 95px;
}

html, body {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  color: rgb(74, 77, 74);
  overflow: visible;
  height: 100%;
}

.checkBoxAndSpan {
  height: 30px;
  width: 205px;
  display: flex;
  justify-content: space-between;
}
.checkBoxAndSpan .checkMarkBlock {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(74, 77, 74);
}
.checkBoxAndSpan .checkMarkBlock .checkMark {
  height: 15px;
  width: 15px;
}
.checkBoxAndSpan .spanAfterCheckMark {
  cursor: text;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.checkBoxAndSpan .spanAfterCheckMark:hover {
  text-decoration: underline;
}

.header {
  margin: 0 0 28px 0;
}

.page {
  flex: 1 1 auto;
}
.page_bar-navigate {
  margin: 0 0 50px 0;
}
@media (max-width: 991.98px) {
  .page_bar-navigate {
    display: none;
  }
}
.page_container {
  height: 100%;
}
@media (min-width: 991.98px) {
  .page_container {
    display: flex;
  }
}
.page_main-content {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_main-content {
    margin: 0 0 40px 0;
  }
}
.page_side {
  margin: 0 0 50px 0;
  flex: 0 0 448px;
}
.page_menu {
  margin: 0 0 50px 0;
}
@media (max-width: 991.98px) {
  .page_menu {
    margin: 0 0 40px 0;
  }
}
.page_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 40px;
  max-height: 742px;
}
@media (max-width: 991.98px) {
  .page_content {
    margin: 0 0 0 0;
  }
}
.page_collage {
  margin: 0 0 130px 0;
}
@media (max-width: 991.98px) {
  .page_collage {
    margin: 0 0 40px 0;
  }
}
.page_banners {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_banners {
    margin: 0 0 40px 0;
  }
}
.page_customers {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_customers {
    margin: 0 0 40px 0;
  }
}
.page_products-categories {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_products-categories {
    margin: 0 0 40px 0;
  }
}
.page_repair {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_repair {
    margin: 0 0 40px 0;
  }
}
.page_computer-brands {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_computer-brands {
    margin: 0 0 40px 0;
  }
}
.page_consultation {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_consultation {
    margin: 0 0 40px 0;
  }
}
.page_map {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_map {
    margin: 0 0 40px 0;
  }
}
.page_promotion {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_promotion {
    margin: 0 0 40px 0;
  }
}
.page_products-slider {
  margin: 0 0 100px 0;
}
@media (max-width: 991.98px) {
  .page_products-slider {
    margin: 0 0 40px 0;
  }
}

.navigate-bar {
  width: 100%;
  min-height: 60px;
  background-color: #F0F0FF;
}
.navigate-bar_list {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 430px) {
  .navigate-bar_list {
    flex-direction: column;
    justify-content: center;
  }
}
.navigate-bar_option {
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 20px 20px 20px 20px;
}
.navigate-bar_option:first-child {
  padding: 20px 20px 20px 0;
}
.navigate-bar_option:last-child {
  padding: 20px 0 20px 20px;
}
.navigate-bar_option:hover {
  color: #FFAF37;
}
@media (max-width: 991.98px) {
  .navigate-bar_option:first-child {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .navigate-bar_option:nth-child(2) {
    display: none;
  }
}
@media (max-width: 430px) {
  .navigate-bar_option:first-child, .navigate-bar_option:nth-child(2) {
    display: block;
  }
}
.navigate-bar_option a {
  font-size: 18px;
  position: relative;
}
@media (max-width: 1340px) {
  .navigate-bar_option a {
    font-size: 14px;
  }
}
.navigate-bar_option a::after {
  background-image: linear-gradient(to right, black 60%, transparent 0);
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  content: "";
  height: 2px;
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.navigate-bar_option a:hover:after {
  background-image: linear-gradient(to right, #FFAF37 100%, transparent 0);
}
@media (max-width: 430px) {
  .navigate-bar_option a::after {
    display: none;
  }
}

.menu-page {
  display: flex;
  flex-direction: column;
}
.menu-page_header {
  height: 65px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background: #F0F0FF;
  padding: 0 0 0 25px;
}
.menu-page_header span {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.menu-page_body {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  position: relative;
}
.menu-page_item {
  display: flex;
  align-items: center;
  padding: 11px 0 11px 0;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  .menu-page_item:hover {
    background-color: #FFAF37;
    color: #FFFFFF;
  }
}
.menu-page_item img {
  padding: 0 0 0 20px;
}
@media (max-width: 479.98px) {
  .menu-page_item img {
    padding: 0 0 0 10px;
  }
}
.menu-page_item span {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin: 0 0 0 15px;
}
@media (max-width: 479.98px) {
  .menu-page_item span {
    font-size: 13px;
    margin: 0 0 0 10px;
  }
}
.menu-page_arrow {
  margin-right: 15px;
  height: 9px;
  width: 9px;
}

.sub-menu-page {
  display: flex;
  width: 962px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 30px 30px;
  background-color: #FFFFFF;
  z-index: 5;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
}
.sub-menu-page_column {
  flex: 0 1 33.333%;
}
.sub-menu-page_block {
  margin: 0 0 40px 0;
}
.sub-menu-page_header {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
}
.sub-menu-page_name {
  font-size: 14px;
  line-height: 17px;
}

.header-page {
  margin: 0 0 10px 0;
}
@media (max-width: 991.98px) {
  .header-page_content {
    text-align: center;
  }
}
.header-page span {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}
@media (max-width: 1462px) {
  .header-page span {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1110px) {
  .header-page span {
    font-size: 24px;
    line-height: 29px;
    font-family: Rubik, sans-serif;
  }
}
.header-page span span {
  font-family: Rubik, sans-serif;
}
.header-page span span span {
  color: #FFAF37;
}

.slider-page {
  height: 590px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background: url("../images/hat/mainBannerImage.png") 0 0 no-repeat;
  background-size: cover;
  animation: fadeIn 0.5s ease-in-out;
  transition: background-image 0.5s;
}
.slider-page_pattern {
  right: -30px;
  bottom: -30px;
  transform: rotate(-180deg);
}
.slider-page_pattern::after {
  bottom: -20px;
  left: -15px;
}
.slider-page_text {
  width: 100%;
  min-height: 116px;
  position: absolute;
  top: 23%;
  left: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 12% 0 0;
}
@media (max-width: 991.98px) {
  .slider-page_text {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
}
.slider-page_text-block {
  min-height: 116px;
  max-width: 422px;
  text-align: center;
}
.slider-page_text-block span {
  font-size: 30px;
  color: #fff;
  font-weight: 550;
  line-height: 37px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .slider-page_text-block span {
    line-height: 24px;
    font-size: 20px;
    top: 30%;
  }
}
@media (max-width: 590px) {
  .slider-page_text-block {
    right: 0;
  }
}
.slider-page_offer {
  position: absolute;
  top: 60%;
  right: 16%;
  display: inline-flex;
  padding: 24px 43px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .slider-page_offer {
    top: 65%;
    right: 0;
    width: 100%;
    display: flex;
    padding: 20px 40px;
  }
}
.slider-page_arrow-buttons {
  height: 50px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  padding: 0 20px;
}
.slider-page_arrow-button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;
  display: none;
  animation: fadeIn 0.5s ease 0s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-page_arrow-button:first-child {
  transform: rotate(-180deg);
}
@media (min-width: 991.98px) {
  .slider-page_arrow-button:hover {
    background-color: #FFAF37;
  }
}
.slider-page_arrow-button .arrow-blue {
  width: 18px;
  height: 18px;
  right: 20px;
  border-top: 5px solid #001569;
  border-left: 5px solid #001569;
}
.slider-page .bannerButtonCommon {
  cursor: pointer;
  transition: background-color 0.5s;
  padding: 20px;
}
.slider-page .bannerButtonCommon .buttonBannerLeft {
  margin-left: 5px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-page .bannerButtonCommon .buttonBannerRight {
  display: none;
  margin-left: 812px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-page_pagination {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0;
  height: 40px;
}
@media (max-width: 479.98px) {
  .slider-page_pagination {
    bottom: 20px;
  }
}
.slider-page_pagination-container {
  width: 152px;
  height: 20px;
  display: inline-flex;
  justify-content: space-between;
  top: 93%;
  right: 40%;
}
.slider-page_circle {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .slider-page_circle:hover {
    background-color: #FFAF37;
  }
}
.slider-page_circle._active {
  background-color: #FFAF37;
}

.buttons-side {
  height: 271px;
  width: 90px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  position: fixed;
  right: 0;
  top: 400px;
  cursor: pointer;
  z-index: 1000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 1700px) {
  .buttons-side {
    display: none;
  }
}
.buttons-side_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.buttons-side_list li {
  flex: 0 0 33.333%;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.buttons-side_item {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #1F347B;
  transition: all 0.3s ease 0s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.buttons-side_item_cart {
  border-top-left-radius: 10px;
  background: url("../images/sideMenuButtons/basket.png") center no-repeat;
}
.buttons-side_item_heart {
  background: url("../images/sideMenuButtons/heart.png") center no-repeat;
}
.buttons-side_item_columns {
  border: 0;
  background: url("../images/sideMenuButtons/columns.png") center no-repeat;
}
.buttons-side_item._active {
  background-color: #1F347B;
}

.afterNavBarBannerAndSpan {
  margin-left: 42px;
}
.afterNavBarBannerAndSpan .productMenu {
  max-width: 922px;
  width: 100%;
  max-height: 736px;
  height: 100%;
  display: none;
  position: relative;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  animation: fadeIn 0.9s ease-in-out;
}
@media (max-width: 1426px) {
  .afterNavBarBannerAndSpan .productMenu {
    max-height: 1567px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.afterNavBarBannerAndSpan .productMenuBlock {
  display: none;
  height: 320px;
  width: 210px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  border: 0.4px solid #4A4D4A;
  border-radius: 4px;
  transition: background-color 0.5s;
  font-size: 14px;
  text-align: center;
  margin-bottom: 96px;
}
.afterNavBarBannerAndSpan .oneProduct:hover, .afterNavBarBannerAndSpan .twoProduct:hover,
.afterNavBarBannerAndSpan .threeProduct:hover, .afterNavBarBannerAndSpan .fourProduct:hover {
  background-color: #cec9c9;
}
.afterNavBarBannerAndSpan .oneProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .oneProduct .pmPhoneMain {
  height: 116px;
  width: 45px;
  margin-top: 45px;
}
.afterNavBarBannerAndSpan .oneProduct .oneProductSpan {
  margin-top: 22px;
}
.afterNavBarBannerAndSpan .twoProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .twoProduct .pmTabletMain {
  height: 118px;
  width: 81px;
  margin-top: 45px;
}
.afterNavBarBannerAndSpan .twoProduct .twoProductSpan {
  margin-top: 20px;
}
.afterNavBarBannerAndSpan .threeProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .threeProduct .pmPodsMain {
  height: 117px;
  width: 93px;
  margin-top: 48px;
}
.afterNavBarBannerAndSpan .threeProduct .threeProductSpan {
  margin-top: 18px;
}
.afterNavBarBannerAndSpan .fourProduct {
  background-color: #F0F0FF;
  cursor: pointer;
}
.afterNavBarBannerAndSpan .fourProduct .pmCaseMain {
  height: 117px;
  width: 93px;
  margin-top: 48px;
}
.afterNavBarBannerAndSpan .fourProduct .fourProductSpan {
  margin-top: 18px;
}
.afterNavBarBannerAndSpan .fiveProduct, .afterNavBarBannerAndSpan .sixProduct, .afterNavBarBannerAndSpan .sevenProduct, .afterNavBarBannerAndSpan .eightProduct {
  display: flex;
  justify-content: space-between;
}
.afterNavBarBannerAndSpan .pmPhone {
  height: 94px;
  width: 59px;
  margin-top: 8px;
}
.afterNavBarBannerAndSpan .pmPods {
  margin-top: 16px;
}
.afterNavBarBannerAndSpan .pmClock {
  margin-top: 9px;
}
.afterNavBarBannerAndSpan .pmTablet {
  margin-top: 9px;
}
.afterNavBarBannerAndSpan .productBlockSpanOne {
  margin-top: 12px;
  font-weight: 600;
  color: black;
  line-height: 17px;
}
.afterNavBarBannerAndSpan .fiveProductSpanOneTwo {
  margin-top: 4px;
}
.afterNavBarBannerAndSpan .productBlockSpanTwo {
  font-weight: 300;
  line-height: 21px;
}
.afterNavBarBannerAndSpan .sevenProductSpanOneTwo {
  margin-top: 11px;
}
.afterNavBarBannerAndSpan .productBlockSpanThree {
  font-weight: 400;
  line-height: 21px;
  color: black;
}
.afterNavBarBannerAndSpan .productBlockSpanFour {
  color: #001569;
  font-size: 24px;
  line-height: 29px;
}
.afterNavBarBannerAndSpan .inBasket {
  height: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-bottom: 14px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct {
  height: 20px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 350px;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  color: #4A4D4A;
  font-size: 14px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductOneSpan {
  cursor: pointer;
  transition: color 0.5s;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductSpan {
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  transition: color 0.5s;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductSpan:hover, .afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .blockBetweenTwoRowProductOneSpan:hover {
  color: #FFAF37;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenOne, .afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenTwo, .afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenThree {
  height: 8px;
  width: 8px;
  position: absolute;
  margin-right: 15px;
  cursor: pointer;
  border-top: 1px solid #4A4D4A;
  border-left: 1px solid #4A4D4A;
  transform: rotate(-135deg);
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenOne {
  top: 3px;
  left: 127px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenTwo {
  top: 3px;
  left: 258px;
}
.afterNavBarBannerAndSpan .blockBetweenTwoRowProduct .leftBlockBetweenThree {
  top: 3px;
  left: 357px;
}

.collage-page_columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.collage-page_column {
  flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 15px 0;
}
@media (max-width: 1410px) {
  .collage-page_column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 1068px) {
  .collage-page_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 728px) {
  .collage-page_column {
    flex: 0 1 100%;
  }
}
.collage-page_column_big-block {
  flex: 0 1 50%;
}
@media (max-width: 1410px) {
  .collage-page_column_big-block {
    display: none;
  }
}
.collage-page_block {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  height: 250px;
  background-color: #FFFFFF;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .collage-page_block:hover {
    background-color: #cec9c9;
  }
}
@media (max-width: 479.98px) {
  .collage-page_block {
    height: 200px;
  }
}
.collage-page_block img {
  margin: 0 0 15px 0;
}
@media (max-width: 479.98px) {
  .collage-page_block img {
    margin: 0 0 7px 0;
  }
}
.collage-page_block_first {
  background-color: #F0F0FF;
}
.collage-page_block_first p {
  padding: 0 40px;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  text-align: center;
}
@media (max-width: 479.98px) {
  .collage-page_block_first p {
    font-size: 20px;
    line-height: 24px;
  }
}
.collage-page_header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 15px 0;
  white-space: nowrap;
}
@media (max-width: 479.98px) {
  .collage-page_header {
    font-size: 18px;
    line-height: 22px;
  }
}
.collage-page_content {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.collage-page_content_bold {
  font-weight: 500;
}
@media (max-width: 479.98px) {
  .collage-page_content_bold {
    font-weight: 400;
  }
}
@media (max-width: 479.98px) {
  .collage-page_content {
    font-size: 16px;
    line-height: 20px;
  }
}
.collage-page_many-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banners-page_first {
  margin: 0 0 30px 0;
}
@media (max-width: 991.98px) {
  .banners-page_first {
    margin: 0 0 0 0;
  }
}
.banners-page_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.banners-page_column {
  flex: 0 1 50%;
  padding: 0 15px 0 0;
}
.banners-page_column:last-child {
  padding: 0 0 0 15px;
}
@media (max-width: 991.98px) {
  .banners-page_column {
    flex: 0 1 100%;
    padding: 15px 0;
  }
  .banners-page_column:last-child {
    padding: 15px 0;
  }
}
.banners-page_banner {
  position: relative;
  background-color: #F0F0FF;
  height: 400px;
  padding: 30px 45px 0 15px;
}
.banners-page_banner_color {
  background-color: #E3E1FF;
}
@media (max-width: 670px) {
  .banners-page_banner {
    display: flex;
    flex-direction: column;
    padding: 30px 0 20px 0;
  }
}
.banners-page_images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 323px;
}
.banners-page_images img {
  align-self: flex-start;
  max-width: 100%;
}
@media (max-width: 1340px) and (min-width: 991.98px) {
  .banners-page_images img {
    max-width: 70%;
  }
}
@media (max-width: 670px) {
  .banners-page_images img {
    max-width: 160px;
    padding: 0 0 0 20px;
  }
}
@media (max-width: 670px) {
  .banners-page_images {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10px 0 0;
  }
}
.banners-page_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  position: absolute;
  right: 0;
  top: 25%;
  padding: 0 45px 0 0;
  max-width: 536px;
  max-height: 239px;
  height: 100%;
}
@media (max-width: 1340px) {
  .banners-page_content {
    padding: 0 15px 0 0;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_content a {
    font-size: 16px;
  }
}
@media (max-width: 670px) {
  .banners-page_content a {
    display: flex;
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 670px) {
  .banners-page_content {
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }
}
.banners-page_content-last-banner_first-place {
  max-width: 268px;
}
@media (max-width: 670px) {
  .banners-page_content-last-banner_first-place {
    max-width: 100%;
  }
}
.banners-page_content-last-banner_second-place {
  max-width: 340px;
}
@media (max-width: 670px) {
  .banners-page_content-last-banner_second-place {
    max-width: 100%;
  }
}
.banners-page_header {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 30px 0;
  padding: 0 0 0 10px;
}
@media (max-width: 1162px) {
  .banners-page_header {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 670px) {
  .banners-page_header {
    font-size: 18px;
    line-height: 22px;
    padding: 0 5px;
  }
}
.banners-page_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 20px 0;
  max-width: 300px;
}
@media (max-width: 1340px) and (min-width: 991.98px) {
  .banners-page_description {
    max-width: 268px;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_description {
    max-width: 200px;
  }
}
@media (max-width: 670px) {
  .banners-page_description {
    font-size: 16px;
    line-height: 20px;
    padding: 0 4px;
  }
}
.banners-page_button {
  display: inline-flex;
  padding: 20px;
  max-width: 300px;
}
.banners-page_button_last {
  padding: 20px 50px 20px 50px;
  z-index: 10;
}
@media (max-width: 1340px) {
  .banners-page_button {
    max-width: 268px;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_button {
    max-width: 200px;
  }
}
@media (max-width: 1160px) and (min-width: 991.98px) {
  .banners-page_button_equipment {
    max-width: 250px;
  }
}
@media (max-width: 991.98px) {
  .banners-page br {
    display: none;
  }
}
.banners-page_pattern_first-place {
  left: -15px;
  top: -30px;
}
.banners-page_pattern_first-place::after {
  right: -5px;
  top: -15px;
}
.banners-page_pattern_second-place {
  right: -15px;
  bottom: -30px;
  transform: rotate(180deg);
}
.banners-page_pattern_second-place::after {
  left: -15px;
  bottom: -5px;
}

.customers-page {
  background-color: #F0F0FF;
  padding: 30px 0;
}
.customers-page_container {
  display: flex;
  flex-direction: column;
}
.customers-page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
}
.customers-page_header > span {
  padding: 0 25px 0 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
}
@media (min-width: 991.98px) {
  .customers-page_header > span {
    max-width: 720px;
  }
}
@media (max-width: 991.98px) {
  .customers-page_header {
    text-align: center;
  }
  .customers-page_header span {
    padding: 0 0 0 0;
  }
}
@media (max-width: 479.98px) {
  .customers-page_header span {
    font-size: 24px;
    line-height: 28px;
  }
}
.customers-page_header a {
  display: inline-flex;
}
@media (max-width: 991.98px) {
  .customers-page_header a {
    display: none;
  }
}
.customers-page_brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .customers-page_brands {
    margin: 0 0 30px 0;
  }
}
.customers-page_brand {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1105px) {
  .customers-page_brand {
    margin: 0 0 20px 0;
  }
}
.customers-page_brand span {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .customers-page_brand span {
    font-size: 14px;
    line-height: 17px;
  }
}
.customers-page_brand_college {
  max-width: 250px;
}
@media (max-width: 767.98px) {
  .customers-page_brand_college {
    max-width: 132px;
  }
}
.customers-page_brand_mfti {
  max-width: 195px;
}
@media (max-width: 767.98px) {
  .customers-page_brand_mfti {
    max-width: 80px;
  }
}
.customers-page_brand_planet {
  max-width: 290px;
}
@media (max-width: 767.98px) {
  .customers-page_brand_planet {
    max-width: 224px;
  }
}
.customers-page_brand_fgyp {
  max-width: 190px;
}
@media (max-width: 767.98px) {
  .customers-page_brand_fgyp {
    max-width: 104px;
  }
}
.customers-page_brand_ao {
  max-width: 140px;
}
@media (max-width: 767.98px) {
  .customers-page_brand_ao {
    max-width: 101px;
  }
}
.customers-page_brand img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .customers-page_brand img {
    max-width: 80%;
  }
}
.customers-page_btn {
  padding: 18px 70px 18px 15px;
  border: 2px solid #FFAF37;
  position: relative;
  white-space: nowrap;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  .customers-page_btn:hover {
    color: #FFFFFF;
    background-color: #001569;
  }
}
@media (max-width: 1040px) {
  .customers-page_btn {
    padding: 18px 60px 18px 5px;
  }
}
.customers-page_btn_footer {
  display: none;
}
@media (max-width: 991.98px) {
  .customers-page_btn_footer {
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 60px 15px 5px;
  }
}
.customers-page_arrow-button {
  top: -2px;
  left: 20px;
}
@media (max-width: 370px) {
  .customers-page_arrow-button {
    top: 5px;
    left: -10px;
  }
}

.products-categories-page {
  min-height: 804px;
}
.products-categories-page_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;
}
.products-categories-page_column {
  flex: 0 1 25%;
  padding: 0 11px;
  margin: 0 0 22px 0;
}
@media (max-width: 1425px) {
  .products-categories-page_column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 1076px) {
  .products-categories-page_column {
    flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .products-categories-page_column {
    flex: 0 1 100%;
  }
}
.products-categories-page_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 14px;
  min-width: 330px;
  min-height: 248px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
}
@media (max-width: 479.98px) {
  .products-categories-page_item {
    min-height: 200px;
    min-width: 300px;
  }
}
.products-categories-page_item_first {
  background-color: #F0F0FF;
  text-align: center;
  padding: 0 30px;
  justify-content: center;
}
.products-categories-page_item_first span {
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
}
.products-categories-page_item a {
  font-size: 14px;
  line-height: 17px;
}
.products-categories-page_item_last {
  padding: 80px 27px 10px 27px;
}
@media (max-width: 479.98px) {
  .products-categories-page_item_last {
    padding: 80px 0 10px 0;
  }
}
.products-categories-page_item img {
  max-width: 100%;
  display: inline-block;
  align-self: center;
}
@media (max-width: 479.98px) {
  .products-categories-page_item img {
    max-width: 55%;
  }
}
.products-categories-page_item_video-cart {
  padding: 0 14px 11px 14px;
}
.products-categories-page_item_computer-technique img {
  margin: 0 0 11px 0;
}
.products-categories-page_link {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 0;
}
.products-categories-page_link span {
  white-space: nowrap;
}
.products-categories-page_link_last {
  justify-content: flex-end;
}
.products-categories-page_btn {
  padding: 25px 0;
  margin: 0 0 40px 0;
}

.repair-page {
  background-color: #F0F0FF;
  padding: 30px 0;
}
.repair-page_container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .repair-page_container {
    flex-direction: column;
  }
}
.repair-page_info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 200px;
  margin: 0 0 0 7.1034482759vw;
}
@media (max-width: 991.98px) {
  .repair-page_info-block {
    margin: 0 0 0 0;
  }
}
.repair-page_header {
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 991.98px) {
  .repair-page_header {
    text-align: center;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 479.98px) {
  .repair-page_header {
    font-size: 18px;
    line-height: 22px;
  }
}
.repair-page_content {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .repair-page_content {
    text-align: center;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 479.98px) {
  .repair-page_content {
    font-size: 16px;
    line-height: 19px;
  }
}
.repair-page img {
  max-width: 100%;
  align-self: flex-end;
  margin: 0 7.1034482759vw 0 30px;
}
@media (max-width: 991.98px) {
  .repair-page img {
    align-self: center;
    margin: 0 0 0 0;
  }
}
.repair-page_btn {
  justify-content: space-between;
  display: inline-flex;
  padding: 18px 70px 18px 15px;
  border: 2px solid #FFAF37;
  position: relative;
  white-space: nowrap;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .repair-page_btn {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .repair-page_btn:hover {
    color: #FFFFFF;
    background-color: #001569;
  }
}
@media (max-width: 1040px) {
  .repair-page_btn {
    padding: 18px 60px 18px 5px;
  }
}
.repair-page_btn_footer {
  display: none;
}
@media (max-width: 991.98px) {
  .repair-page_btn_footer {
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 60px 15px 5px;
    margin: 0 0 30px 0;
  }
}
.repair-page_arrow-button {
  top: -2px;
  left: 20px;
}
@media (max-width: 423px) {
  .repair-page_arrow-button {
    top: 5px;
    left: 0;
  }
}

.computer-brands-page_container::before {
  width: 170px;
  height: 8px;
  right: 20px;
  top: 0;
}
.computer-brands-page_container::after {
  width: 90px;
  height: 8px;
  right: -21px;
  top: 49px;
  transform: rotate(90deg);
}
.computer-brands-page_items {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
}
@media (max-width: 479.98px) {
  .computer-brands-page_items {
    padding: 0 0;
  }
}
.computer-brands-page_items::before {
  right: 164px;
  top: -10px;
  width: 27px;
  height: 27px;
}
.computer-brands-page_items::after {
  width: 124px;
  height: 8px;
  right: 28px;
  top: 98px;
}
.computer-brands-page_header {
  font-size: 30px;
  line-height: 37px;
  margin: 0 0 60px 0;
  max-width: 680px;
}
@media (max-width: 1510px) {
  .computer-brands-page_header {
    align-self: center;
    text-align: center;
  }
}
@media (max-width: 1030px) {
  .computer-brands-page_header {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 479.98px) {
  .computer-brands-page_header {
    font-size: 20px;
    line-height: 24px;
  }
}
.computer-brands-page_brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1030px) {
  .computer-brands-page_brands {
    justify-content: space-around;
  }
}
.computer-brands-page_brands img {
  max-width: 100%;
  margin: 0 0 30px 0;
}
@media (max-width: 479.98px) {
  .computer-brands-page_brands img {
    max-width: 30%;
  }
}

.consultation-page_container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .consultation-page_container {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  }
}
.consultation-page_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
}
@media (max-width: 991.98px) {
  .consultation-page_header {
    padding: 20px 0 0 0;
  }
}
.consultation-page_header h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  margin: 0 0 15px 0;
  text-align: center;
}
@media (max-width: 1200px) {
  .consultation-page_header h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 991.98px) {
  .consultation-page_header h1 {
    font-size: 20px;
    line-height: 24px;
  }
}
.consultation-page_header h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 1200px) {
  .consultation-page_header h2 {
    font-weight: 400;
  }
}
@media (max-width: 991.98px) {
  .consultation-page_header h2 {
    font-size: 16px;
    line-height: 20px;
  }
}
.consultation-page_footer {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2509803922);
  padding: 40px 0 20px 0;
}
@media (max-width: 991.98px) {
  .consultation-page_footer {
    box-shadow: none;
    padding: 0 0 20px 0;
  }
}
.consultation-page_footer img {
  max-width: 100%;
  align-self: flex-start;
}
@media (max-width: 1200px) {
  .consultation-page_footer img {
    max-width: 50%;
    align-self: center;
  }
}
@media (max-width: 991.98px) {
  .consultation-page_footer img {
    display: none;
  }
}
.consultation-page_form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .consultation-page_form {
    width: 100%;
  }
}
.consultation-page_label {
  display: flex;
  flex-direction: column;
}
.consultation-page_label input {
  border: 1px solid #4A4D4A;
  padding: 28px 84px 28px 20px;
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .consultation-page_label input {
    padding: 18px 89px 18px 15px;
  }
  .consultation-page_label input::placeholder {
    font-size: 14px;
    line-height: 21px;
  }
}
.consultation-page_label button {
  padding: 28px 52px 28px 52px;
  margin: 0 0 20px 0;
}
@media (max-width: 479.98px) {
  .consultation-page_label button {
    padding: 18px 52px 18px 52px;
  }
}
.consultation-page_checkbox {
  display: flex;
  justify-content: flex-start;
}
.consultation-page_checkbox label {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.consultation-page_checkbox label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #4A4D4A;
}
.consultation-page_checkbox label::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: url("../images/twoBannerAfterTwoFooter/checkMark.png") center no-repeat;
  transform: translate(50%, 50%);
}
.consultation-page_checkbox input {
  display: none;
}
.consultation-page_checkbox span {
  display: inline-block;
  margin: 0 0 0 10px;
  max-width: 164px;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300;
  text-decoration: underline;
}

.map-page_container::before {
  width: 170px;
  height: 8px;
  left: 20px;
  top: 0;
}
.map-page_container::after {
  width: 90px;
  height: 8px;
  left: -21px;
  top: 49px;
  transform: rotate(90deg);
}
.map-page_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 20px 20px;
}
@media (max-width: 479.98px) {
  .map-page_items {
    padding: 0 0;
  }
}
.map-page_items::before {
  left: 164px;
  top: -10px;
  width: 27px;
  height: 27px;
}
.map-page_items::after {
  width: 124px;
  height: 8px;
  left: 28px;
  top: 98px;
}
.map-page_header {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  max-width: 580px;
}
@media (max-width: 1170px) {
  .map-page_header {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 767.98px) {
  .map-page_header {
    font-size: 20px;
    line-height: 25px;
  }
}
.map-page_content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.map-page_content img {
  max-width: 100%;
}
@media (max-width: 1170px) and (min-width: 991.98px) {
  .map-page_content img {
    max-width: 50%;
  }
}
@media (max-width: 991.98px) {
  .map-page_content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.map-page_info-block {
  display: flex;
  align-items: center;
}
.map-page_info-block ul {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1170px) {
  .map-page_info-block {
    margin: 0 0 20px 0;
  }
}
.map-page_contact {
  padding: 10px 0 10px 40px;
  margin: 0 0 5px 0;
}
.map-page_contact span {
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767.98px) {
  .map-page_contact span {
    font-size: 14px;
    line-height: 21px;
  }
}
.map-page_contact_geo {
  background: url("../images/bannerBeforeLastFooter/newGeo.png") left no-repeat;
}
.map-page_contact_phone {
  background: url("../images/bannerBeforeLastFooter/newPhone.png") left no-repeat;
}
.map-page_contact_sms {
  background: url("../images/bannerBeforeLastFooter/newSMS.png") left no-repeat;
}
.map-page_contact_whatsapp {
  background: url("../images/hat/whatsApp.png") left no-repeat;
}
.map-page_contact_clock {
  background: url("../images/bannerBeforeLastFooter/clock.png") left no-repeat;
}

/*# sourceMappingURL=style.css.map */
